<div class="grid">

  <div class="span6">
    <%= form_tag admin_issue_path(@issue.id), :method => :put do %>
      <legend>Ažuriraj problem</legend>

      <label>Promjeni kategoriju</label>
      <%= select_tag :category_id, options_from_collection_for_select(@user.get_categories, 'id', 'name'), :class => 'input-xlarge'%>

      <label>Promjeni Status</label>
      <%= select_tag :status, options_from_collection_for_select(Issue.all_statuses, 'id', 'name'), :class => 'input-xlarge'%>

      <label>Razlog ažuriranje</label>
      <%= text_field_tag :subject, nil, :class => 'input-xlarge', :required => true  %>

      <label>Opis</label>
      <%= text_area_tag :text, nil, :style => 'width:90%; height:150px;', :required => true  %><br/>

      <div style="text-align:center; margin-top:15px;">
        <button type="submit" class="btn">Ažuriraj</button>
      </div>
      
    <% end %>
  </div>

  <div class="span4">
    <form>
      <legend><%=@issue.title%></legend>      
      <table class="table no-lines table-condensed">
        <tbody>
          <tr>
            <td>Općina</td>
            <td><%=@issue.city.name%></td>
          </tr>
          <tr>
            <td>Kategorija</td>
            <td><%=@issue.category.name%></td>
          </tr>
          <tr>
            <td>Status</td>
            <td><%=@issue.get_status%></td>
          </tr>
          <tr>
            <td>Korisnik</td>
            <td><%=@issue.user.full_name%></td>
          </tr>
          <tr>
            <td>Kreiran</td>
            <td><%=@issue.created_at.strftime("%d %b. %Y")%></td>
          </tr>
          <tr>
            <td>Ažuriran</td>
            <td><%=@issue.updated_at.strftime("%d %b. %Y")%></td>
          </tr>
          <tr>
            <td colspan="2"><%=@issue.description%></td>
          </tr>
          <% @issue.updates.order('created_at desc').each do |update|%>
            <tr>
              <td colspan="2">
                <hr/>
                <span style="font-size:20px;"><%=update.subject%></span><br/>
                <span style="font-size:8px;"><%=update.created_at.strftime("%d %b. %Y")%> [<%=update.user.full_name %>]</span><br/>
                <%=update.text%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </form>
  </div>

</div>

