<div class="container-flud"  style="margin-left: 50px;">
  <div class="row-fluid">
    <% if flash[:info] %>
      <div class="alert alert-info span11" style="margin-left: 10px;">
          <a class="close" data-dismiss="alert" href="#">×</a> <%= flash[:info] %>
      </div>
    <% end %>    
    <% if flash[:error] %>
      <div class="alert alert-error span11" style="margin-left: 10px;">
          <a class="close" data-dismiss="alert" href="#">×</a> <%= flash[:error] %>
      </div>
    <% end %>
  </div>
  <div class="row-fluid">
    <!-- FORM -->
    <div class="grid span3">
      <div class="grid-title">
        <div class="pull-left">
          <div class="setup-icon"><i class="icon-bookmark"></i></div>
          <span>Kreiraj Grad</span> 
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>   
      </div>

      <div class="grid-content">
        <%= form_tag create_or_edit_ssg_admin_cities_path, { :id => "mainForm", :class => "controls"} do %>
          <input type="hidden" name="city_id">
          <input type="text" required id="inputName" name="city_name" placeholder="Ime Grada" data-original-title="" title="" class="span12">
          
          <input type="text" required id="inputLat" name="lat" placeholder="Latituda" data-original-title="" title="" class="span12">
          <input type="text" required id="inputLong" name="lon" placeholder="Longituda" data-original-title="" title="" class="span12">
   
          <div class="btn-toolbar" style="text-align: center; margin-left: 0px;">
            <div class="btn-group">
                <button id="btn_create" class="btn btn-primary" type="submit" >Kreiraj</button>
                <button id="btn_edit" class="btn btn-primary" type="submit" disabled>Ažuriraj</button>
            </div>
            <button class="btn btn-warning" onclick="resetForm();" type="button">Reset</button>
          </div>
        <% end %>
      </div>
    </div>
    
    <!-- TABLE --> 
    <div class="grid span8" style="margin-left: 20px;">
      <div class="grid-title">
        <div class="pull-left">
          <div class="setup-icon"><i class="icon-bookmark"></i></div>
          <span>Lista Gradova</span> 
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>   
      </div>
      <div class="grid-content">
        <div class="dataTables_wrapper" role="grid"> 
          <table class="table table-bordered table-mod-2 dataTable" id="entry_table" aria-describedby="datatable_3_info">
            <thead>
              <tr role="row">
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">#</th>
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Naziv</th>
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Latituda</th>
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Longituda</th>
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Kontrole</th>
              </tr>
            </thead> 
            <tbody>
              <% @cities.sort.each do |city| %>
                <tr id="<%= "row_#{city.id}" %>">
                  <td><%= city.id %></td>
                  <td><%= city.name %></td>
                  <td><%= city.lat %></td>
                  <td><%= city.long %></td>
                  <td class="admin-list-toolbar-cell">
                    <div class="btn-toolbar">
                      <div class="btn-group">
                        <a onclick="populateForm(<%=city.id%>);" class="btn">
                          <i class="icon-edit"></i>
                        </a>
                        <%= link_to ssg_admin_city_path(city), :class => "btn", :method => :delete, :title => 'Obriši', :confirm => "Da li ste sigurni?" do %>
                          <i class="icon-remove"></i>
                        <% end %>
                      </div>
                    </div>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  
  FormValues = ['city_id','city_name','lat','lon'];

  enableCreateBtn = function(flag) {
    $('#btn_create').prop('disabled', !flag);
    $('#btn_edit').prop('disabled', flag);
  };

  populateForm = function(id) {
    values = $('#row_' + id + ' td');
    // set values to  form
    $.each(values, function(i, v) {
      $("[name='" + FormValues[i] + "']").val(v.textContent);
    });

    enableCreateBtn(false);
    window.scrollTo(0, 0);
  };

  resetForm = function() {
    $.each(FormValues, function(i,v) {
      $("[name='" + FormValues[i] + "']").val('');
    });

    enableCreateBtn(true);
  };

  $(document).ready(function() {
  });
</script>