<style type="text/css">

  .upload-preview {
    margin: auto;
    width: 250px;
    padding-bottom: 30px;
  }
  .bar {
      margin-top: 5px;
      height: 8px;
      background: #5985DE;
  }

</style>

<div class="container-fluid">
  <div class="row-fluid">
    <!-- FORM -->
    <div class="grid span4">
      <div class="grid-title">
        <div class="pull-left">
          <div class="setup-icon"><i class="icon-bookmark"></i></div>
          <span>Kreiraj Općinu</span>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="grid-content">
        <%= form_tag create_or_edit_ssg_admin_cities_path, { :id => "mainForm", :class => "controls"} do %>
          <input type="hidden" name="city_id">
          <input type="text" required id="inputName" name="city_name" placeholder="Ime Općine" data-original-title="" title="" class="span12">

          <label class="checkbox">
            <input type="checkbox" id="inputActive" name="city_active" placeholder="Aktivna?" data-original-title="" title="" > Aktivna Općina?
          </label>

          <input type="text" required id="inputLat" name="lat" placeholder="Latituda" data-original-title="" title="" class="span12">
          <input type="text" required id="inputLong" name="lon" placeholder="Longituda" data-original-title="" title="" class="span12">

          <input type="text" id="inputWebsite" name="website" placeholder="Website" data-original-title="" title="" class="span12">
          <textarea id="inputDescription" name="description" placeholder="Opis" data-original-title="" title="" class="span12">
          </textarea>

          <input type = "button" id="upload_image_btn" value="Dodaj Sliku Općine" onclick ="javascript:document.getElementById('fileupload_field').click();">
          <input id = "fileupload_field" type="file" style='visibility: hidden;' name="image" multiple/>

          <span id="gallery_inputs">
            <input type="hidden" id="image_count" name="image_count" value="0" />
          </span>

          <div id="progress">
              <div class="bar"  style="width: 0%;"></div>
          </div>
          <div id="gallery" style="list-style:none">
          </div>
          <div class="clearfix"></div>

          <div class="btn-toolbar" style="text-align: center; margin-left: 0px;">
            <div class="btn-group">
                <button id="btn_create" class="btn btn-primary" type="submit" >Kreiraj</button>
                <button id="btn_edit" class="btn btn-primary" type="submit" disabled>Ažuriraj</button>
            </div>
            <button class="btn btn-warning" onclick="resetForm();" type="button">Reset</button>
          </div>
        <% end %>
      </div>
    </div>

    <!-- TABLE -->
    <div class="grid span8">
      <div class="grid-title">
        <div class="pull-left">
          <div class="setup-icon"><i class="icon-bookmark"></i></div>
          <span>Lista Općina</span>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="grid-content">
        <div class="dataTables_wrapper" role="grid">
          <table class="table table-bordered table-mod-2 dataTable" id="entry_table" aria-describedby="datatable_3_info">
            <thead>
              <tr role="row">
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">#</th>
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">
                  <a class="show" href="<%=ssg_admin_cities_path({sort: get_switched_sort})%>">Naziv<%=get_sort_icon(@sort)%></a>
                </th>
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Aktivna?</th>
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Latituda</th>
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Longituda</th>
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Slika?</th>
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Kontrole</th>
              </tr>
            </thead>
            <tbody>
              <% @cities.each do |city| %>
                <tr id="<%= "row_#{city.id}" %>">
                  <td><%= city.id %></td>
                  <td><%= city.name %></td>
                  <td><%= city.active ? 'Da' : 'Ne' %></td>
                  <td><%= city.lat %></td>
                  <td><%= city.long %></td>
                  <td style="display:none;"><%= city.website %></td>
                  <td style="display:none;"><%= city.description %></td>
                  <td><%= city.image ? 'Da' : 'Ne' %></td>
                  <td class="admin-list-toolbar-cell">
                    <div class="btn-toolbar">
                      <div class="btn-group">
                        <a onclick="populateForm(<%=city.id%>);" class="btn">
                          <i class="icon-edit"></i>
                        </a>
                        <%= link_to ssg_admin_city_path(city), :class => "btn", :method => :delete, :title => 'Obriši', :data => {:confirm => "Da li ste sigurni?"} do %>
                          <i class="icon-remove"></i>
                        <% end %>
                      </div>
                    </div>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  FormValues = ['city_id','city_name','city_active','lat','lon','website', 'description'];

  enableCreateBtn = function(flag) {
    $('#btn_create').prop('disabled', !flag);
    $('#btn_edit').prop('disabled', flag);
  };

  populateForm = function(id) {
    values = $('#row_' + id + ' td');
    // set values to  form
    $.each(values, function(i, v) {
      el = $("[name='" + FormValues[i] + "']");
      if (el.is(":checkbox")) {
        el.prop('checked', (v.textContent == 'Da'));
      } else {
        el.val(v.textContent);
      }
    });

    enableCreateBtn(false);
    window.scrollTo(0, 0);
  };

  resetForm = function() {
    $.each(FormValues, function(i,v) {
      el = $("[name='" + FormValues[i] + "']");
      if (el.is(":checkbox")) {
        el.prop('checked', false);
      } else {
        el.val('');
      }
    });

    enableCreateBtn(true);
  };

  // UPLOAD SETUP
  $('#fileupload_field').fileupload({
    url : '<%= images_path() %>',
     progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('#progress .bar').css('width', progress + '%');
     },
    success : function() {
      $('#progress').css('width', '0%');
      $('#upload_image_btn').css('display', 'none');
    },
    fail : function() {
      alert(I18n.t('issues.new.upload_error'));
    }
  });

  $(document).ready(function() {
  });
</script>