<div class="issue-container-gray">
  <% @issue.updates.order('created_at desc').each_with_index do |update| %>
    <div style="margin-bottom:15px;">
        <span style="color:#9ecc3b !important; font-size:28px; font-weight:bold;"><%=update.subject%></span><br/>
        <span style="font-size:10px; font-style:italic;"><%=update.updated_at.strftime("%d %b. %Y")%> [<%=link_to update.user.full_name, user_path(update.user.id)%>]</span>
    </div>
    <%= raw update.text %>
    <% update.images.each do |img| %>
      <%= image_tag img.image.issue_full, :style=> 'margin-bottom:20px;'%><br/>
    <% end %>
    <br/><br/>
    <hr/>
    <br/><br/>
  <% end %>
</div>
