<div class="issue">
	<div class="issue-img-part">
		<a class="info-link" href="<%=issue_path(issue.friendly_id)%>">
			<div style="height:155px; width:198px;">
				<% if  issue.images.length > 0 %>
					<%=image_tag issue.images.first.image.thumb, :border => '0' %>
				<% end %>
			</div>
		</a>
		<div style="height:5px; background-color:#<%=issue.category.color%>;"></div>
	</div>

	<div class="issue-info-part">
		<a class="info-link" href="<%=issue_path(issue.friendly_id)%>">
			<div class="font-14 issue-info-title">
				<%=issue.title%>
			</div>
			<div class="font-gray-dark font-12 issue-info-name">
				by <a href='<%= user_path(issue.user.id) %>' ><%=issue.user.display_name%></a>
			</div>
		</a>
		
		<a class="info-link" href="<%=city_path(issue.city.id)%>">
			<div class="issue-info-loc">
				<span class="asset-location-black" ></span>
				<span class="font-gray-dark" style="line-height:16px;">&nbsp;<%=issue.city.name%></span>
			</div>
		</a>
	</div>
	
	<hr style="margin-top:3px;"/>
	
	<div class="issue-category-part" >
		<span class="font-gray-dark font-12"><b>&nbsp;&nbsp;&nbsp;&nbsp;<%=issue.get_status %></b></span>
		<span class="font-gray-dark font-13 issue-category-part-name">
			&nbsp;&nbsp;&nbsp;<%=issue.category.name%>
		</span>
	</div>
	
	<hr/>
	
	<div class="issue-share-part">
		<span class="asset-heart"></span><span style="float:left;" class="font-bold font-14">&nbsp;&nbsp;<%=issue.vote_count%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<span class="asset-eye"></span><span style="float:left;" class="font-bold font-14">&nbsp;&nbsp;<%=issue.session_view_count%></span>
		<span style="float:right; margin-top: 2px; cursor: pointer;" class="font-13 font-gray-dark">Share</span> 
	</div>
</div>
