<div class="issue">
	<div class="issue-img-part">
		<a class="info-link" href="<%=issue_path(issue.friendly_id)%>">
			<div style="height:155px; width:198px;">
				<% if  issue.images.length > 0 %>
					<%=image_tag issue.images.first.image.thumb, :border => '0' %>
				<% end %>
			</div>
		</a>
		<div style="height:5px; background-color:#<%=issue.category.color%>;"></div>
	</div>

	<div class="issue-info-part">
		<a class="info-link" href="<%=issue_path(issue.friendly_id)%>">
			<div class="font-14 issue-info-title">
				<%= trans(issue.title) %>
			</div>
			<div class="font-gray-dark font-12 issue-info-name">
				<%= t('issues.show.reported_by') %> <a href='<%= user_path(issue.user.id) %>' ><span style="font-style: italic;"><%= trans(issue.user.display_name) %></span></a>
			</div>
		</a>
		
		<a class="info-link" href="<%=city_path(issue.city.friendly_id)%>">
			<div class="issue-info-loc">
				<i class="fa fa-map-marker font-gray-dark"> </i><span class="font-gray-dark" style="line-height:16px;"> 
				  <%=issue.city.name%>
				 </span>
			</div>
		</a>
	</div>
	
	<hr style="margin-top:3px;"/>
	
	<div class="issue-status-part">
		<span class="font-gray-dark font-12"> <%= trans(issue.get_status) %></span>
		<span class="issue-status-date"><%= time_ago_in_words(issue.created_at) %></span>
	</div>

	<hr/>

	<div class="issue-category-part" >
		<div class="issue-category-icon" style="display:block; float:left; margin: 5px 5px 5px 0; width: 20px !important; height:20px !important; background-color: #<%=issue.category.color%>; border-radius:2px;">
			<span style="display:block; width:20px; height: 20px; margin-top:-5px !important; margin-left:1px;">
				<i class="fa <%= issue.category.icon %> fa-lg" style="top:0; left:0; margin:0;"></i>
			</span>
		</div>
		<span class="font-gray-dark font-12" style="display:block; float:left;">
			<%=issue.category.name%>
		</span>		
	</div>
	
	<hr/>
	
	<div class="issue-share-part">
		
		<i class="fa fa-heart fa-lg font-gray-dark"> </i>
		<span class="font-gray-dark font-14 font-bold" style="margin-left:3px;"><%=issue.vote_count%></span>
		
	  <i class="fa fa-eye fa-lg font-gray-dark" style="margin-left:5px;"> </i>
	  <span class="font-gray-dark font-14 font-bold" style="margin-left:3px;"><%=issue.session_view_count%></span>

		<span style="float:right; margin-top: 2px; cursor: pointer;" class="font-13 font-gray-dark">
			<% link_url = "#{request.protocol}#{request.host_with_port}#{issue_path(issue.friendly_id)}" %>

			<a href="<%= issue.fb_share_link() %>" onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=300,toolbar=1,resizable=0'); return false;">
  			<%=image_tag 'fbshare.png', :border => '0' %>
			</a>

			<a href="https://twitter.com/share?text=<%=issue.title %>&amp;url=<%=link_url%>&amp;hashtags=ulicaba" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=300,toolbar=1,resizable=0'); return false;" data-via="Ulica.ba">
				<%=image_tag 'twshare.png', :border => '0' %>
			</a>
		</span> 
	</div>
</div>
