<div id="issues_left_column">
  <div class="breadcrumb-container">
    SSG / <span><%= t('issues.index.issues')%></span>
  </div>

	<%= render :partial => 'issue', :collection => @issues %>
	
</div>

<%= render :partial => 'right_menu' %>

<div class="value_strip() font-15 loading" style="margin:0 auto; width:300px; height:50px; line-height:50px;"><%= t('issues.index.loading')%>...</div>


<% content_for :javascript do %>
<script>
$(function(){
   var page_no = 1;
   $('#issues_left_column').scrollPagination({
       'contentCallback': function() {return '<%=more_issues_path(clear_params({:dummy => true}, [ :action, :controller, :offset ])).html_safe%>&offset=' + (page_no*12) }, // the page where you are searching for results
       'contentData': {}, 				// you can pass the children().size() to know where is the pagination
       'scrollTarget': $(window), 		// who gonna scroll? in this example, the full window
       'heightOffset': 50, 				// how many pixels before reaching end of the page would loading start? positives numbers only please
       'beforeLoad': function(){ 		// before load, some function, maybe display a preloader div
			$('.loading').show();
       },
       'afterLoad': function(elementsLoaded){ // after loading, some function to animate results and hide a preloader div
			$('.loading').hide();
            if ($('#content').children().size() > 100){ 	// if more than 100 results loaded stop pagination (only for test)
               $('#content').stopScrollPagination();
            }
			page_no ++;
       }
   });
   
   // code for fade in element by element with delay
   $.fn.fadeInWithDelay = function(){
       var delay = 0;
       return this.each(function(){
           $(this).delay(delay).animate({opacity:1}, 1000);
           delay += 100;
       });
   };
          
});
</script>
<% end %>