<div id="issues_left_column">
	<% @issues.each do |issue| %>
	<div class="issue">
		<div>
			<a href="<%=issue_path(issue.id)%>"><span style="background-color:yellow; padding:2px;"><%=issue.category.name%></span></a>
			 - <%=issue.user.display_name%> <%=link_to '(follow)', follow_user_path(issue.user.id)%><br/><br/>
			<b><%=issue.title%></b><br/>
			<a href="<%=issue_path(issue.id)%>">
				<% if issue.images.length > 0 %>
					<%=image_tag issue.images.first.file.url(:thumb), :style => 'width:225px;'%>
				<% end %>
			</a>
			<hr/>
			<%=issue.description%>
			<hr/>
			<%=link_to 'VOTE', vote_issue_path(issue.id), { :remote => true, :method => :post }%> | 
			<%=link_to 'FOLLOW', follow_issue_path(issue.id) %>
		</div>
	</div>
	<% end %>
	
	<% if @issues.length == 0 %>
	<div class="issue">
		BUDI PRVI KOJI CE PRIJAVITI PROBLEM
	</div>
	<% end %>
	
</div>

<%= render :partial => 'right_menu' %>

