<div id="issues_left_column">
	<% @issues.each do |issue| %>
	<div class="issue">
		
		<div class="issue-img-part">
			<div style="height:155px; width:198px;">
				<% if  issue.images.length > 0 %>
					<%=image_tag issue.images.first.file.url(:thumb), :border => '0' %>
				<% end %>
			</div>
			<div style="height:5px; background-color:#9ecc3b;"></div>
		</div>

		<div class="issue-info-part">
			<div class="font-bold font-14 issue-info-title">
				<%=issue.title%>
			</div>
			<div class="font-gray font-12 issue-info-name">
				by <%=issue.user.display_name%>
			</div>
			<div class="issue-info-loc">
				<span class="asset-location" ></span>
				<span class="font-gray" style="line-height:16px;">&nbsp;<%=issue.city.name%></span>
			</div>
		</div>
		
		<hr style="margin-top:3px;"/>
		
		<div class="issue-category-part" >
			<span class="font-gray font-12" style="line-height:31px;">&nbsp;&nbsp;&nbsp;&nbsp;<%=issue.category.name%></span>
		</div>
		
		<hr/>
		
		<div class="issue-share-part">
			<span class="asset-heart"></span><span style="float:left;" class="font-bold font-14">&nbsp;&nbsp;59&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<span class="asset-eye"></span><span style="float:left;" class="font-bold font-14">&nbsp;&nbsp;861</span>
			<span style="float:right;" class="font-gray">Share</span>
		</div>
	</div>
	<% end %>
	
	<% if @issues.length == 0 %>
	<div class="issue">
		BUDI PRVI KOJI CE PRIJAVITI PROBLEM
	</div>
	<% end %>
	
</div>

<%= render :partial => 'right_menu' %>

