
<div style="position:relative;">
	<div id="form-div" style="position:absolute; z-index:1000; left:30px; background-color:#9ecc3a; height:550px; width:460px; padding:30px;">
		<span class="font-dp-bold" style="font-size:26px; color:white;">REPORT A PROBLEM</span><br/>
		<span style="color:white;">Click on map to set location</span><br/>
		
		<%= form_tag issues_path(), :id => 'report_form',  :multipart => true do %>
			<table>
				<tr>
					<td><%= text_field_tag :title, :style => 'height:100%;' %></td>
				</tr>
				<tr>
					<td>
						<select name="city" >
							<%User.get_cities.each do |city|%>
								<option value="<%=city.id%>"><%=city.name%></option>
							<% end %>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<select name="category">
							<%User.get_categories.each do |cat|%>
								<option value="<%=cat.id%>"><%=cat.name%></option>
							<% end %>
						</select>
					</td>
				</tr>
				<tr>
					<td><%= text_area_tag :description, :style => 'height:100%;'%></td>
				</tr>
				<tr>
					<td><%= label_tag :file, 'Slika'%> </td>
					<td><%= file_field_tag :file%></td>
				</tr>
			</table>
		<% end %>
		<%=ssg_button 'REPORT', {:onclick => '$(\'#report_form\').submit()', :href => '#' }%>
	</div>
	
	
	<div id="map" style="height:550px;">
		
	</div>
</div>

<script>
$(document).ready(function() {
	// initialize the map on the "map" div
	map = new L.Map('map');

	// create a CloudMade tile layer with style #997 (or use other provider of your choice)
	var cloudmade = new L.TileLayer('http://{s}.tile.cloudmade.com/10a3c88ad1f14f18a611c6ebc2300e35/997/256/{z}/{x}/{y}.png', {
	    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
	    maxZoom: 18
	});

	// add the CloudMade layer to the map set the view to a given center and zoom
	map.addLayer(cloudmade).setView(new L.LatLng(43.855078, 18.395748), 13);


});	
</script>

