<style type="text/css">
	.tou {
		color: white;
		font-family: 'Arial';
	}

	.tou_link {
		text-decoration: underline;
	}

	.sbOverride, .sbOptionsOverride {
		width: 360px;
		margin-top: 10px;
	}

	.input-class {
		margin-bottom: -10px;
	}

</style>

<div style="position:relative;">
	<div id="form-div" style="position:absolute; z-index:1000;  background-color:#9ecc3a; height:490px; width:380px; padding:30px;">
		
		<span class="value_strip() din-font" style="font-size:26px; color:white;"><%= t('issues.new.report')%></span><br/>
		
		<span class="din-font" style="color:white;"><%= t('issues.new.set_location')%></span>
		<br/>
		<br/>
		
		<%= form_for @issue, :html => { :multipart => true, :id => 'fileupload' }  do |f|%>
			<table style="width:340px;">
				<tr >
					<td colspan="2">
						<%= f.text_field :title, :style => 'width: 355px; margin-bottom: 0px;', :autocomplete=> :off , :placeholder => t('issues.new.issue_title') %>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<%= f.collection_select(:city_id, @user.get_cities, :id, :name, {:include_blank => t('issues.new.select_city'), :selected=>@user.get_city_id } ) %>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<%= f.collection_select(:category_id, @user.get_all_categories, :id, :name, {:include_blank => t('issues.new.select_category')}) %>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<%= f.text_area :description, :style => 'width: 355px; height:80px;', :placeholder => t('issues.new.issue_desc'), :id => 'description_ta' %>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<%= f.text_field :lat, :hidden => 'hidden' %>
						<%= f.text_field :long, :hidden => 'hidden' %>
						<%= hidden_field_tag :distance %>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<!-- <input id="fileupload" type="file" name="image" multiple/>-->
						<input type = "button" value="<%= t('issues.new.add_img') %>" onclick ="javascript:document.getElementById('fileupload_field').click();">
    				<input id = "fileupload_field" type="file" style='visibility: hidden;' name="image" multiple/>
						<span id="gallery_inputs">
							<input type="hidden" id="image_count" name="image_count" value="0" />
						</span>
	        </td>
				</tr>
				<tr>
					<td colspan="2">
						<div id="progress">
    						<div class="bar"  style="width: 0%;"></div>
						</div>
						<ul id="gallery" style="list-style:none">
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" checked value="1" name="terms_of_use" id="terms_of_use">
						<span class="tou"><%= t('users.login.register_agree_tou') %> 
							<a href="<%= terms_path %>" class="tou_link tou"><%= t('users.login.register_agree_tou2') %></a>
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<div style="padding-top: 20px;">
							<%= ssg_button t('issue.new.report').upcase, {:onclick => "submitForm('\#fileupload');"}, {}, 'din-font' %>
						</div>
					</td>
				</tr>
			</table>
		<% end %>

	</div>
	
	
	<div id="map" style="height:550px; float:right; width:550px;">
		
	</div>
</div>
<br style="clear:both;"/>

<style>
label.error {  color: red; font-size:10px;}
</style>

<% content_for :javascript do %>

<script type="text/javascript">

$(document).ready(function() {
  $('#issue_category_id').selectbox();
  $('#issue_city_id').selectbox();
});

var cities = <%=@user.get_cities.to_json(:only => [:id, :lat, :long]).html_safe%>;
var marker = null;
var city_radius = 30;
var city_lat = null;
var city_long = null;



$(function () {
	// MAP
	$('#map').SSGMap({
		lat : <%= @user.users_lat_long[0] %>, 
		lng :  <%= @user.users_lat_long[1] %>,
		zoom : <%= @user.users_zoom %>,
		click : function(e) {
			var lat = e.latlng.lat;
			var lng = e.latlng.lng;
			if (marker == null) {
				marker = L.marker([lat, lng]).addTo($('#map').data('ssg_map').map);
			}
			else {
				marker.setLatLng(e.latlng);
			}

			var dist = distance(lat, lng, city_lat, city_long, "K");

			if (dist) {
				$('#distance').val(dist);
			}

			$('#issue_lat').val(lat);
			$('#issue_long').val(lng);
		}
	});

	$('#issue_city_id').change(function() {
		var city_id = $(this).val();
		for (var i=0; i<cities.length; ++i) {
			if (cities[i].id == city_id) {
				city_lat = cities[i].lat;
				city_long = cities[i]['long'];

				$('#map').SSGMap('setView', city_lat, city_long, 13);
				return;
			}
		}
	});


	// UPLOAD SETUP
	$('#fileupload_field').fileupload({
		url : '<%= images_path() %>',
	   progressall: function (e, data) {
	      var progress = parseInt(data.loaded / data.total * 100, 10);
	      $('#progress .bar').css('width', progress + '%');
	   },
		success : function() {
			$('#progress').css('width', '0%');
		},
		fail : function() {
			alert(I18n.t('issues.new.upload_error'));
		}
	});



	$('#fileupload').validate({
		ignore: null,
		rules : {
			'issue[title]' :  {
				required : true,
				minlength : 10
			},
			'issue[description]' : {
				required : true,
				minlength : 10
			},
			'issue[city_id]' : {
				required : true
			},
			'issue[category_id]' : {
				required : true
			},
			'issue[lat]' : {
				required : true
			},
			terms_of_use : {
				required : true
			},
			'distance' : {
				max : city_radius
			},
			'image' : 'images_validator'
		},
		messages: {
			'issue[title]': {
				required: I18n.t('validation.new_issue.title'),
				minlength: I18n.t('validation.new_issue.title_l')
			},
			'issue[description]': {
				required: I18n.t('validation.new_issue.description'),
				minlength: I18n.t('validation.new_issue.description_l')
			},
			'issue[city_id]': {
				required: I18n.t('validation.new_issue.city')
			},
			'issue[category_id]': {
				required: I18n.t('validation.new_issue.category')
			},
			'issue[lat]': {
				required: I18n.t('validation.new_issue.point')
			},
			'distance': {
				max: I18n.t('validation.new_issue.radius')
			},
			terms_of_use: {
				required: I18n.t('validation.register.tos')
			},
		}
	});

	// VALIDATE
	$.validator.addMethod(
		"images_validator", 
		function(value) {
			return $('.upload-preview').length > 0;
		},
		I18n.t('validation.new_issue.image')
	);
});	
</script>

<% end %>