<div style="position:relative;">
	<div id="form-div" style="position:absolute; z-index:1000;  background-color:#9ecc3a; height:490px; width:380px; padding:30px;">
		<span class="value_strip()" style="font-size:26px; color:white;"><%= t('issues.new.report')%></span><br/>
		<span style="color:white;"><%= t('issues.new.set_location')%></span><br/>
		
		<%= form_for @issue, :html => { :multipart => true, :id => 'fileupload' }  do |f|%>
			<table style="width:340px;">
				<tr >
					<td colspan="2">
						<%= f.text_field :title, :style => 'width:100%;', :autocomplete=> :off , :placeholder => t('issues.new.issue_title') %>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<%= f.collection_select(:city_id, @user.get_cities, :id, :name, {:include_blank => t('issues.new.select_city')}) %>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<%= f.collection_select(:category_id, @user.get_categories, :id, :name, {:include_blank => t('issues.new.select_category')}) %>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<%= f.text_area :description, :style => 'width:100%; height:80px;', :placeholder => t('issues.new.issue_desc'), :id => 'description_ta' %>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<%= f.text_field :lat, :hidden => 'hidden' %>
						<%= f.text_field :long, :hidden => 'hidden' %>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input id="fileupload" type="file" name="image" style="width:90px;" multiple/>
						<span id="gallery_inputs">
							<input type="hidden" id="image_count" name="image_count" value="0" />
						</span>
	             	</td>
				</tr>
				<tr>
					<td colspan="2">
						<div id="progress">
    						<div class="bar"  style="width: 0%;"></div>
						</div>
						<ul id="gallery" style="list-style:none">
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<%= f.submit %>
					</td>
				</tr>
			</table>
		<% end %>

	</div>
	
	
	<div id="map" style="height:550px; float:right; width:550px;">
		
	</div>
</div>
<br style="clear:both;"/>

<style>
label.error {  color: red; font-size:10px;}
</style>

<% content_for :javascript do %>

<script type="text/javascript">

var cities = <%=@user.get_cities.to_json(:only => [:id, :lat, :long]).html_safe%>;
var marker = null;

$(function () {

	// MAP
	$('#map').SSGMap({
		lat : 43.855078, 
		lng : 18.395748,
		zoom : 7,
		click : function(e) {
			var lat = e.latlng.lat;
			var lng = e.latlng.lng;
			if (marker == null) {
				marker = L.marker([lat, lng]).addTo($('#map').data('ssg_map').map);
			}
			else {
				marker.setLatLng(e.latlng);
			}

			$('#issue_lat').val(lat);
			$('#issue_long').val(lng);
		}
	});

	$('#issue_city_id').change(function() {
		var city_id = $(this).val();
		for (var i=0; i<cities.length; ++i) {
			if (cities[i].id == city_id) {
				$('#map').SSGMap('setView', cities[i].lat, cities[i]['long'], 13);				
				return;
			}
		}
	});


	// UPLOAD SETUP
	$('#fileupload').fileupload({
		url : '<%= images_path() %>',
	   progressall: function (e, data) {
	      var progress = parseInt(data.loaded / data.total * 100, 10);
	      $('#progress .bar').css('width', progress + '%');
	   },
		success : function() {
			$('#progress').css('width', '0%');
		},
		fail : function() {
			alert(I18n.t('issues.new.upload_error'));
		}
	});



	$('#fileupload').validate({
		ignore: null,
		rules : {
			'issue[title]' :  {
				required : true,
				minlength : 10
			},
			'issue[description]' : {
				required : true,
				minlength : 10
			},
			'issue[city_id]' : {
				required : true
			},
			'issue[category_id]' : {
				required : true
			},
			'image' : 'images_validator'
		},
		messages: {
			'issue[title]': {
				required: I18n.t('validation.messages.required'),
				minlength: jQuery.validator.format(I18n.t('validation.messages.minlength'))
			},
			'issue[description]': {
				required: I18n.t('validation.messages.required'),
				minlength: jQuery.validator.format(I18n.t('validation.messages.minlength'))
			},
			'issue[city_id]': {
				required: I18n.t('validation.messages.required')
			},
			'issue[category_id]': {
				required: I18n.t('validation.messages.required')
			}		
		}
	});

	// VALIDATE
	$.validator.addMethod(
		"images_validator", 
		function(value) {
			return $('.upload-preview').length > 0;
		},
		I18n.t('validation.messages.imageRequired')
	);
});	
</script>

<% end %>