<div style="position:relative;">
	<div id="form-div" style="position:absolute; z-index:1000;  background-color:#9ecc3a; height:490px; width:380px; padding:30px;">
		<span class="font-dp-bold" style="font-size:26px; color:white;">REPORT A PROBLEM</span><br/>
		<span style="color:white;">Click on map to set location</span><br/>
		
		<%= form_for @issue, :html => { :multipart => true, :id => 'fileupload' }  do |f|%>
			<table style="width:340px;">
				<tr >
					<td colspan="2">
						<%= f.text_field :title, :style => 'width:100%;', :autocomplete=> :off  %>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<%= f.collection_select(:city_id, @user.get_cities, :id, :name) %>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<%= f.collection_select(:category_id, @user.get_categories, :id, :name) %>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<%= f.text_area :description, :style => 'width:100%; height:80px;' %>
					</td>
				</tr>
				<tr>
					<td><%= f.label :lat, 'Latitude'%></td>
					<td><%= f.text_field :lat, :readonly => 'readonly' %></td>
				</tr>
				<tr>
					<td><%= f.label :long, 'Longitude'%></td>
					<td><%= f.text_field :long, :readonly => 'readonly' %></td>
				</tr>
				<tr>
					<td colspan="2">
						<input id="fileupload" type="file" name="image" style="width:90px;" multiple/>
						<span id="gallery_inputs">
							<input type="hidden" id="image_count" name="image_count" value="0" />
						</span>
             	</td>
				</tr>
				<tr>
					<td colspan="2">
						<div id="progress">
    						<div class="bar"  style="width: 0%;"></div>
						</div>
						<ul id="gallery" style="list-style:none">
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<%= f.submit %>
					</td>
				</tr>
			</table>
		<% end %>

	</div>
	
	
	<div id="map" style="height:550px; float:right; width:550px;">
		
	</div>
</div>
<br style="clear:both;"/>

<script>
var cities = <%=@user.get_cities.to_json(:only => [:id, :lat, :long]).html_safe%>;
var marker = null;

$(function () {

	// MAP

	// initialize the map on the "map" div
	map = new L.Map('map');

	// create a CloudMade tile layer with style #997 (or use other provider of your choice)
	var cloudmade = new L.TileLayer('http://{s}.tile.cloudmade.com/10a3c88ad1f14f18a611c6ebc2300e35/997/256/{z}/{x}/{y}.png', {
	    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
	    maxZoom: 18
	});

	// add the CloudMade layer to the map set the view to a given center and zoom
	map.addLayer(cloudmade).setView(new L.LatLng(43.855078, 18.395748), 7);

	map.on('click', function(e) {
		var lat = e.latlng.lat;
		var lng = e.latlng.lng;
		if (marker == null) {
			marker = L.marker([lat, lng]).addTo(map);
		}
		else {
			marker.setLatLng(e.latlng);
		}

		$('#issue_lat').val(lat);
		$('#issue_long').val(lng);

	});

	$('#issue_city_id').change(function() {
		var city_id = $(this).val();
		for (var i=0; i<cities.length; ++i) {
			if (cities[i].id == city_id) {
				map.addLayer(cloudmade).setView(new L.LatLng(cities[i].lat, cities[i].long), 13);				
				return;
			}
		}
	});


	// UPLOAD SETUP
	$('#fileupload').fileupload({
		url : '<%= images_path() %>',
	   progressall: function (e, data) {
	      var progress = parseInt(data.loaded / data.total * 100, 10);
	      $('#progress .bar').css('width', progress + '%');
	   },
		success : function() {
			$('#progress').css('width', '0%');
		},
		fail : function() {
			alert("Error during upload. Please refresh your browser and try again!!!");
		}
	});

	// VALIDATE
	$.validator.addMethod(
		"images_validator", 
		function(value) {
			return $('.upload-preview').length > 0;
		}, 
		'Image is required!'
	);

	$('#fileupload').validate({
		rules : {
			'issue[title]' :  {
				required : true,
				minlength : 10
			},
			'issue[description]' : {
				required : true,
				minlength : 10
			},
			'issue[lat]' : { 
				required : true 
			},
			'issue[long]' : { 
				required : true 
			},
			'image' : 'images_validator'
		}
	});

});	
</script>

