<div style="padding:20px;">
	<div style="font-size:14px; margin-bottom:10px;">
		SSG / ISSUES / <span class="font-green"><%=@issue.title.upcase%></span>
	</div>

	<div class="issue-container">
		<div style="margin-bottom:10px;">
			<span style="font-size:24px; font-style:italic; "><%=@issue.title.upcase%></span><br/>
			<span class="font-12"><%=@issue.category.name%>, <%=@issue.city.name%></span><br/>
		</div>
		<div style="margin-bottom:10px;">
			<p><%=@issue.description%></p>
		</div>
		<div>
			<% @issue.images.each do |img| %>
				<%= image_tag img.image, :style=> 'margin-bottom:20px;'%><br/>
			<% end %>
		</div>
	</div>


	<div style="float:left; margin-left:20px; width:265px;">
		<div style="margin-bottom:10px; overflow:auto;">
			<img src="<%=@issue.user.avatar%>" style="float:left;"/>
			<span style="float:left;" class="font-18"><%=@issue.user.display_name%></span>
		</div>

		<br style="clear:both;"/>

		<div style="margin-bottom:10px; overflow:auto;">
			<div style="float:left; width:120px; padding:10px">
				Likes <%=@issue.vote_count%>
			</div>
			<div style="float:left; width:70px; padding:10px;">
				<%=@issue.view_count%><br/>
				views<br/>
				0<br/>
				comments
			</div>
		</div>

		<br style="clear:both;"/>

		<% if @issue.user_id != @user.id && !@user.guest?%>
		<div style="margin-bottom:10px; overflow:auto;">
			<% if @already_voted %>
				<%= ssg_button('&nbsp;&nbsp;&nbsp;&nbsp;Unvote&nbsp;&nbsp;&nbsp;&nbsp;', { :onclick => 'unvote()' })%>
			<% else %>
				<%= ssg_button('&nbsp;&nbsp;&nbsp;&nbsp;Give this one vote&nbsp;&nbsp;&nbsp;&nbsp;', { :onclick => 'vote()' })%>
			<% end %>

		</div>
		<% end %>

		<br style="clear:both;"/>

		<div id="mini_map" style="height:260px;">
		</div>

	</div>

	<br style="clear:both;" />
</div>
<script>
$(function () {

	// MAP
	// initialize the map on the "map" div
	map = new L.Map('mini_map');

	// create a CloudMade tile layer with style #997 (or use other provider of your choice)
	var cloudmade = new L.TileLayer('http://{s}.tile.cloudmade.com/10a3c88ad1f14f18a611c6ebc2300e35/997/256/{z}/{x}/{y}.png', {
	    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
	    maxZoom: 18
	});

	// add the CloudMade layer to the map set the view to a given center and zoom
	marker = L.marker([<%=@issue.lat%>, <%=@issue.long%>]).addTo(map);
	map.addLayer(cloudmade).setView(new L.LatLng(<%=@issue.lat%>, <%=@issue.long%>), 15);
});

function vote() {
	$.ajax({
		url : '<%=vote_issue_path(@issue.id)%>',
		type : 'post',
		success : function() {
			alert('OK');
		}
	});
}

function unvote() {
	$.ajax({
		url : '<%=unvote_issue_path(@issue.id)%>',
		type : 'post',
		success : function() {
			alert('OK');
		}
	});
}
</script>
