<div class="breadcrumb-container">
	<a href="<%= root_path() %>">ULICA.BA</a> / <a href="<%= root_path() %>"><%= t('issues.show.issues')%></a> / <span><%= trans(@issue.title.upcase) %></span>
</div>

<div class="show-container">
	<div class="issue-container">

		<ul class="issue-header-menu">
			<li class="<%= 'header-menu-active' if params[:view].blank? %>">
				<%= link_to t('issues.show.info'), issue_path(@issue.friendly_id)%>
			</li>
			<li class="<%= 'header-menu-active' if params[:view] == 'promjene' %>">
				<a href="<%=issue_path(@issue.friendly_id, {:view => 'promjene'})%>">
					<%=t('issues.show.updates')%> <span class="issue-header-count"><%=@issue.updates.count%></span>
				</a>
			</li>
		</ul>

		<% if params[:view].blank? %>
			<%= render :partial => 'issue_problem'%>
			<%= render :partial => 'shared/comments', :locals => { :comments => @issue.comments.order('created_at desc'), :issue => @issue }%>
		<% else %>
			<%= render :partial => 'issue_promjena'%>
		<% end %>
	</div>

	<div style="float:left; margin-left:20px; width:240px;">
		<div style="margin-bottom:10px;">
			<%= image_tag @issue.user.image ? @issue.user.image.image.logo_full : 'no-photo.png', :class => 'issue-info-user-image' %>
			<div class="issue-info-person">
				<a href='<%= user_path(@issue.user.id) %>'>
					<span class="issue-info-display-name"><%= @issue.user.full_name %></span><br />
				</a>
	      <a href="<%=city_path(@issue.city)%>">
	        <div style="float: left;">
	            <i class="fa fa-map-marker font-gray-dark"> </i>
	            <span class="font-gray-dark" style="line-height:16px;"> 
	              <%=@issue.city.name%>
	            </span>
	        </div>
	      </a>
			</div>
		</div>

		<br style="clear:both;"/>

		<div style="margin-bottom:25px;">
			<table class="table-style">
				<tr>
					<th rowspan="2">
						<div class="issue-info-heart-container">
							<div class="issue-info-heart"></div>
							<span class="issue-info-vote-count"><%= @issue.vote_count %></span>
						</div>
					</th>
					<td style="border-right: none;">
						<span class="issue-info-count"><%= @issue.session_view_count%></span><br/>
						<span class="issue-info-count-title"><%= t('issues.show.views')%></span><br/>
					</td>
				</tr>
				<tr>
					<td style="border-right: none;">
						<span class="issue-info-count"><%= @issue.comments.count%></span><br/>
						<span class="issue-info-count-title"><%= t('issues.show.comments')%></span>
					</td>
				</tr>
			</table>
		</div>

		<div style="margin-bottom:10px;">
			<% if !@user.guest? %>
				<% if @issue.user_id != @user.id%>
					<% if @already_voted %>
						<%= ssg_button_v2("&nbsp;&nbsp;&nbsp;&nbsp;#{t('issues.show.unvote')}&nbsp;&nbsp;&nbsp;&nbsp;", { :onclick => 'unvote()' } )%>
					<% else %>
						<%= ssg_button_v2("&nbsp;&nbsp;&nbsp;&nbsp;#{t('issues.show.vote')}&nbsp;&nbsp;&nbsp;&nbsp;", { :onclick => 'vote()' })%>
					<% end %>
				<% end %>
			<% else %>
				<p class="font-green font-18" style="text-align: center;"><%= t('issues.show.login_to_vote')%></p>
			<% end %>
		</div>

		<% if @user.ssg_admin? || @issue.user_id == @user.id %>
			<div style="margin-bottom:10px;">
				<% button_text = @user.ssg_admin? ? '[ Admin Delete! ]' : t('issues.show.delete') %>

				<%= link_to issue_path(@issue), :class => "", :method => :delete, :title => 'Obriši!', :data => {:confirm => t('issues.show.delete_confirm')} do %>
					<%= ssg_button_v2( button_text, {}, {}, 'btn-red', true) %>
				<% end %>	
			</div>
		<% end %>

		<br style="clear:both;"/>

		<div id="mini_map" style="height:260px;">
		</div>
		<br />

		<hr>
		<br/>
		<div style="width: 100%; height: 45px; background-color: #E6FAFC; display:table; font-size: 14px;">
			<span style="text-align: center; display: table-cell; vertical-align:middle; font-weight: bold;"><%= "#{t('issues.show.status')}: #{@issue.get_status}".upcase %></span>			
		</div>
		<br>

		<% if @user.ssg_admin? || @issue.user_id == @user.id %>
			<span class="issue-info-display-name" style="font-size: 13px;padding-left: 5px;"> <%= t('issues.show.change_status')  %> </span>
			<% if @user.ssg_admin? %>
				<span style="color:red; margin-left: 10px;">[ Admin ]</span>
			<% end %>
			<br />
			<br />
			<%= collection_select(:get, :status, @user.ssg_admin? ? Issue.all_statuses : Issue.user_statuses, :id, :name, { :selected => @issue.status }, { :onChange => "return change_status(this);" } ) %> <br />
		<% end %>

		<% if params[:view].blank? %>
			<% @issue.updates.order('created_at desc').each do |update| %>			
			<div class="issue-update-container">
				<div class="issue-update-user-info">
					<%= image_tag update.user.avatar, :class => "issue-update-logo" %>
					<span class="issue-update-user"><%= update.user.full_name %></span>
				</div>
				<div class="issue-update-text">
					<h4><%= update.subject %></h4>
					<div>
						<%= raw update.text %>					
					</div>
				</div>
				<div class="issue-update-time">
					<%= update.updated_at.strftime("%d %b. %Y %H:%M") %>
				</div>
			</div>
			<% end %>
		<% end %>
	</div>

	<br style="clear:both;" />
</div>

<% content_for :javascript do %>
<script>
$(function () {
	$('#mini_map').SSGMap({
		lat : <%=@issue.lat%>, 
		lng : <%=@issue.long%>,
		zoom : 15
	});
	$('#mini_map').SSGMap('drawIssue', {
		lat : <%=@issue.lat%>, 
		lng : <%=@issue.long%>
	});

	$('#get_status').selectbox();
});

function vote() {
	$.ajax({
		url : '<%=vote_issue_path(@issue.id)%>',
		type : 'post',
		success : function() {
			window.location = '<%=issue_path(params[:id])%>';
		}
	});
}

function change_status(el) {
	$.ajax({
		url : '<%=change_status_issue_path(@issue.id)%>' + '?status=' + $(el).val(),
		type : 'post',
		success : function() {
			window.location = '<%=issue_path(params[:id])%>';
		}
	});
}

function unvote() {
	$.ajax({
		url : '<%=unvote_issue_path(@issue.id)%>',
		type : 'post',
		success : function() {
			window.location = '<%=issue_path(params[:id])%>';
		}
	});
}
</script>
<% end %>