<div style="padding:25px;">
	<div class="breadcrumb-container">
		SSG / ISSUES / <span><%=@issue.title.upcase%></span>
	</div>

	<div class="issue-container">
		<div class="issue-container-green">
			<div class="issue-cell">
				<span class="issue-cell-title"><%=@issue.title.upcase%></span><br/>
				<span class="font-12"><%=@issue.category.name%>, <%=@issue.city.name%></span><br/>
			</div>
			<div class="issue-cell">
				<p><%=@issue.description%></p>
			</div>
			<div  class="issue-cell">
				<% @issue.images.each do |img| %>
					<%= image_tag img.image, :style=> 'margin-bottom:20px;'%><br/>
				<% end %>
			</div>

		</div>

		<div style="margin-top:15px;">
			<%= render :partial => 'shared/comments', :locals => { :comments => @issue.comments.order('created_at desc'), :issue => @issue }%>
		</div>
	</div>


	<div style="float:left; margin-left:20px; width:240px;">
		<div style="margin-bottom:10px; overflow:auto;">
			<img src="<%=@issue.user.avatar%>" style="float:left;"/>
			<span style="float:left;" class="font-18"><%=@issue.user.display_name%></span>
		</div>

		<br style="clear:both;"/>

		<div style="margin-bottom:10px; overflow:auto;">
			<div style="float:left; width:120px; padding:10px">
				Likes <%=@issue.vote_count%>
			</div>
			<div style="float:left; width:70px; padding:10px;">
				<%=@issue.view_count%><br/>
				views<br/>
				<%=@issue.comments.count%><br/>
				comments
			</div>
		</div>

		<br style="clear:both;"/>

		<div style="margin-bottom:10px; overflow:auto;">
		<% if !@user.guest? %>
			<% if @issue.user_id != @user.id%>
				<% if @already_voted %>
					<%= ssg_button('&nbsp;&nbsp;&nbsp;&nbsp;Unvote&nbsp;&nbsp;&nbsp;&nbsp;', { :onclick => 'unvote()' })%>
				<% else %>
					<%= ssg_button('&nbsp;&nbsp;&nbsp;&nbsp;Give this one vote&nbsp;&nbsp;&nbsp;&nbsp;', { :onclick => 'vote()' })%>
				<% end %>
			<% end %>
		<% else %>
			<span class="font-green font-20">Login to give vote</span>
		<% end %>
		</div>

		<br style="clear:both;"/>

		<div id="mini_map" style="height:260px;">
		</div>

	</div>

	<br style="clear:both;" />
</div>
<script>
$(function () {
	$('#mini_map').SSGMap({
		lat : <%=@issue.lat%>, 
		lng : <%=@issue.long%>,
		zoom : 15
	});
	$('#mini_map').SSGMap('drawIssue', {
		lat : <%=@issue.lat%>, 
		lng : <%=@issue.long%>
	});
});

function vote() {
	$.ajax({
		url : '<%=vote_issue_path(@issue.id)%>',
		type : 'post',
		success : function() {
			window.location = '<%=issue_path(params[:id])%>';
		}
	});
}

function unvote() {
	$.ajax({
		url : '<%=unvote_issue_path(@issue.id)%>',
		type : 'post',
		success : function() {
			window.location = '<%=issue_path(params[:id])%>';
		}
	});
}
</script>
