<div style="padding:20px;">
	<%=@issue.city.name%>/<span style="background-color:yellow; padding:2px;"><%=@issue.category.name%></span>
	 - <%=@issue.user.display_name%> <%=link_to '(follow)', follow_user_path(@issue.user.id)%><br/><br/>
	<b><%=@issue.title%></b><br/>
	<% if @issue.images.length > 0 %>
		<%=image_tag @issue.images.first.file.url(:medium) %>
	<% end %>
	<hr/>
	<%=@issue.description%>
	<hr/>
	
	
	<% if @user.guest? %>
		Login before Vote or follow
	<% else %>
		<% if @issue.user_id != @user.id%>
			<%=link_to 'VOTE', vote_issue_path(@issue.id), { :remote => true, :method => :post }%> | 
			<%=link_to 'FOLLOW', follow_issue_path(@issue.id) %>
		<% end %>
	<% end  %>
</div>

