
	<style type="text/css">
	  .sbOverride, .sbOptionsOverride {
	    width: 238px;
	    margin-top: 2px;
	  }

		.show-container {
			padding: 15px 25px 25px 25px;
		}
		.issue-info-display-name {
			float: left;
			font-size: 16px;
			font-weight: bold;
			display: inline-block;
			margin-bottom: 5px;
		}

		.issue-info-person {
			margin-left: 15px;
			margin-top: 5px;
			display: inline-block;
		}

		.issue-info-city {
			display: inline-block;
			margin-left: 7px;
		}

		.issue-info-heart {
			background: url('/assets/green-heart.png') no-repeat;
			display: block;
			float: left;
			width: 50px;
			height: 35px;
		}
		.issue-info-vote-count {
			color: #A4D43C;
			font-weight: bold;
			font-size: 26px;
		}
		.issue-info-count {
			font-weight: bold;
			font-size: 14px;
		}
		.issue-info-count-title {
			font-size: 10px;
		}
		.issue-info-heart-container {
			float:left; 
			width:105px; 
			padding:10px; 
			margin: 10px 0px 0px 5px;
			display: block;
		}
		.table-style {
			border: 1px #CCCCCC dotted;
			border-collapse: collapse;
			border-left: none;
			border-right: none;
			width: 235px;
		}

		.table-style td {
			padding: 10px;
		}

		.table-style th {
			border: 1px #CCCCCC dotted;
			border-left: none;
			padding: 0px;
			width: 130px;
		}
	</style>



<div class="breadcrumb-container">
	<a href="<%= root_path() %>">ULICA.BA</a> / <a href="<%= root_path() %>"><%= t('issues.show.issues')%></a> / <span><%= trans(@issue.title.upcase) %></span>
</div>

<div class="show-container">
	<div class="issue-container">

		<ul class="issue-header-menu">
			<li class="<%= 'header-menu-active' if params[:view].blank? %>">
				<%= link_to t('issues.show.info'), issue_path(@issue.friendly_id)%>
			</li>
			<li class="<%= 'header-menu-active' if params[:view] == 'promjene' %>">
				<a href="<%=issue_path(@issue.friendly_id, {:view => 'promjene'})%>">
					<%=t('issues.show.updates')%> <span class="issue-header-count"><%=@issue.updates.count%></span>
				</a>
			</li>
		</ul>

		<% if params[:view].blank? %>
			<%= render :partial => 'issue_problem'%>
			<%= render :partial => 'shared/comments', :locals => { :comments => @issue.comments.order('created_at desc'), :issue => @issue }%>
		<% else %>
			<%= render :partial => 'issue_promjena'%>
		<% end %>
	</div>

	<div style="float:left; margin-left:20px; width:240px;">
		<div style="margin-bottom:10px;">
			<%= image_tag @issue.user.image ? @issue.user.image.image.logo_full : 'no-photo.png', :class => 'issue-info-user-image' %>
			<div class="issue-info-person">
				<a href='<%= user_path(@issue.user.id) %>'>
					<span class="issue-info-display-name"><%= @issue.user.full_name %></span><br />
				</a>
				<div style="float:left">
					<span class="asset-location-black" ></span>
					<span class="issue-info-city"><%= @issue.city.name %></span>
				</div>
			</div>
		</div>

		<br style="clear:both;"/>

		<div style="margin-bottom:25px;">
			<table class="table-style">
				<tr>
					<th rowspan="2">
						<div class="issue-info-heart-container">
							<div class="issue-info-heart"></div>
							<span class="issue-info-vote-count"><%= @issue.vote_count %></span>
						</div>
					</th>
					<td style="border-right: none;">
						<span class="issue-info-count"><%= @issue.session_view_count%></span><br/>
						<span class="issue-info-count-title"><%= t('issues.show.views')%></span><br/>
					</td>
				</tr>
				<tr>
					<td style="border-right: none;">
						<span class="issue-info-count"><%= @issue.comments.count%></span><br/>
						<span class="issue-info-count-title"><%= t('issues.show.comments')%></span>
					</td>
				</tr>
			</table>
		</div>

		<div style="margin-bottom:10px;">
			<% if !@user.guest? %>
				<% if @issue.user_id != @user.id%>
					<% if @already_voted %>
						<%= ssg_button_v2("&nbsp;&nbsp;&nbsp;&nbsp;#{t('issues.show.unvote')}&nbsp;&nbsp;&nbsp;&nbsp;", { :onclick => 'unvote()' } )%>
					<% else %>
						<%= ssg_button_v2("&nbsp;&nbsp;&nbsp;&nbsp;#{t('issues.show.vote')}&nbsp;&nbsp;&nbsp;&nbsp;", { :onclick => 'vote()' })%>
					<% end %>
				<% end %>
			<% else %>
				<p class="font-green font-18" style="text-align: center;"><%= t('issues.show.login_to_vote')%></p>
			<% end %>
		</div>

		<% if @user.ssg_admin? || @issue.user_id == @user.id %>
			<div style="margin-bottom:10px;">
				<% button_text = @user.ssg_admin? ? '[ Admin Delete! ]' : t('issues.show.delete') %>

				<%= link_to issue_path(@issue), :class => "", :method => :delete, :title => 'Obriši!', :data => {:confirm => t('issues.show.delete_confirm')} do %>
					<%= ssg_button_v2( button_text, {}, {}, 'btn-red', true) %>
				<% end %>	
			</div>
		<% end %>

		<br style="clear:both;"/>

		<div id="mini_map" style="height:260px;">
		</div>
		<br />
		<% if @user.ssg_admin? || @issue.user_id == @user.id %>
			<span class="issue-info-display-name" style="font-size: 13px;padding-left: 5px;"> <%= t('issues.show.change_status')  %> </span>
			<% if @user.ssg_admin? %>
				<span style="color:red; margin-left: 10px;">[ Admin ]</span>
			<% end %>
			<br />
			<br />
			<%= collection_select(:get, :status, @user.ssg_admin? ? Issue.all_statuses : Issue.user_statuses, :id, :name, { :selected => @issue.status }, { :onChange => "return change_status(this);" } ) %> <br />
		<% end %>

	</div>

	<br style="clear:both;" />
</div>

<% content_for :javascript do %>
<script>
$(function () {
	$('#mini_map').SSGMap({
		lat : <%=@issue.lat%>, 
		lng : <%=@issue.long%>,
		zoom : 15
	});
	$('#mini_map').SSGMap('drawIssue', {
		lat : <%=@issue.lat%>, 
		lng : <%=@issue.long%>
	});

	$('#get_status').selectbox();
});

function vote() {
	$.ajax({
		url : '<%=vote_issue_path(@issue.id)%>',
		type : 'post',
		success : function() {
			window.location = '<%=issue_path(params[:id])%>';
		}
	});
}

function change_status(el) {
	$.ajax({
		url : '<%=change_status_issue_path(@issue.id)%>' + '?status=' + $(el).val(),
		type : 'post',
		success : function() {
			window.location = '<%=issue_path(params[:id])%>';
		}
	});
}

function unvote() {
	$.ajax({
		url : '<%=unvote_issue_path(@issue.id)%>',
		type : 'post',
		success : function() {
			window.location = '<%=issue_path(params[:id])%>';
		}
	});
}
</script>
<% end %>