
<div class="container-fluid">
  <div class="row-fluid">
    <!-- FORM -->
    <div class="grid span4">
      <div class="grid-title">
        <div class="pull-left">
          <div class="setup-icon"><i class="icon-bookmark"></i></div>
          <span>Kreiraj Kategoriju</span> 
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>   
      </div>
      <div class="grid-content">
      <%= form_tag create_or_edit_ssg_admin_categories_path, { :id => "mainForm", :class => "controls"} do %>
        <input type="hidden" name="category_id">
        <input type="text" required id="inputName" name="category_name" placeholder="Ime Kategorije" data-original-title="" title="" class="span12">

        <select id="inputParentCat" name="parent_category_id" class="span12">
          <% @parent_categories.each do |p_cat| %>
            <option value="<%= p_cat.id ? p_cat.id : 0 %>"><%= p_cat.name %></option>
          <% end %> 
        </select>
 
        <textarea id="inputDesc" name="description" placeholder="Opis" class="span12"></textarea>
 
        <div class="input-append color colorpickerel" data-color="rgb(255, 146, 180)" data-color-format="rgb">
          <input type="text" required id="inputColor" name="color" placeholder="Boja" class="span10">
          <span class="add-on"><i style="background-color: rgb(255, 146, 180)"></i></span>
        </div>

        <div class="btn-toolbar" style="text-align: center; margin-left: 0px;">
          <div class="btn-group">
              <button id="btn_create" class="btn btn-primary" type="submit" >Kreiraj</button>
              <button id="btn_edit" class="btn btn-primary" type="submit" disabled>Ažuriraj</button>
          </div>
          <button class="btn btn-warning" onclick="resetForm();" type="button">Reset</button>
        </div> 
      <% end %>
      </div>
    </div>
    
    <!-- TABLE --> 
    <div class="grid span8">
      <div class="grid-title">
        <div class="pull-left">
          <div class="setup-icon"><i class="icon-bookmark"></i></div>
          <span>Lista Kategorija</span> 
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>   
      </div>
      <div class="grid-content">
        <div class="dataTables_wrapper" role="grid">      
          <table class="table table-bordered table-mod-2 dataTable" id="entry_table" aria-describedby="datatable_3_info">
            <thead>
              <tr role="row">
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">#</th>
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Naziv</th>
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Glavna Kategorija</th>
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Opis</th>
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Boja</th>
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Kontrole</th>
              </tr>
            </thead> 
            <tbody>
              <% @categories.sort.each do |category| %>
                <tr id="<%= "row_#{category.id}" %>">
                  <td><%= category.id %></td>
                  <td><%= category.name %></td>
                  <td><%= category.parent ? category.parent.name : 'Glavna Kategorija' %></td>
                  <td nowrap style="max-width:150px;"><%= category.description %></td>
                  <td style="padding-left: 30px;"><div style="width: 20px; height: 20px; background-color: #<%= category.color %>;"></div></td>

                  <td class="admin-list-toolbar-cell">
                    <div class="btn-toolbar">
                      <div class="btn-group">
                        <a class="btn" title="Ažuriraj" onclick="populateForm(<%=category.id%>,<%= category.parent ? category.parent.id : 0 %>);">
                          <i class="icon-edit"></i>
                        </a>
                        <%= link_to ssg_admin_category_path(category), :class => "btn", :method => :delete, :title => 'Obriši', :confirm => "Da li ste sigurni?" do %>
                          <i class="icon-remove"></i>
                        <% end %>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  function rgb2hex(rgb) {
    var hexDigits = ["0","1","2","3","4","5","6","7","8","9","a","b","c","d","e","f"];
    rgb = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
    function hex(x) {
     return isNaN(x) ? "00" : hexDigits[(x - x % 16) / 16] + hexDigits[x % 16];
    }
    return "#" + hex(rgb[1]) + hex(rgb[2]) + hex(rgb[3]);
  }

  FormValues = ['category_id','category_name','parent_category_id','description', 'color'];

  enableCreateBtn = function(flag) {
    $('#btn_create').prop('disabled', !flag);
    $('#btn_edit').prop('disabled', flag);
  };

  populateForm = function(id, parent_id) {

    values = $('#row_' + id + ' td');
    // set values to  form
    var el;
    $.each(values, function(i, v) {
      el = $("[name='" + FormValues[i] + "']");
      if (el.is("select")) {
        el.val(parent_id);
      } else {
        if (FormValues[i] == 'color') {
          var color = $(v).children().css('background-color');
          $('.colorpickerel').colorpicker('setValue', rgb2hex(color));
        } else {
          el.val(v.textContent);
        }

      }
    });

    enableCreateBtn(false);
    window.scrollTo(0, 0);
  };

  resetForm = function() {
    var el;
    $.each(FormValues, function(i,v) {
      el = $("[name='" + FormValues[i] + "']");
      if (el.is("select")) {
        el.val('0');
      } else {
        el.val('');
      }
    });

    enableCreateBtn(true);
  };

  $(document).ready(function() {
    $('.colorpickerel').colorpicker( { format: 'hex'});
  });
</script>