<div class="breadcrumb-container">
  SSG / <span> <%= t('users.login.forgot_bread_title') %> </span>
</div>
<div class="login-container">
</div>
<div class="login-container-center" style="padding-top: 80px;">
    <div class="sub-text-container-head">
      <span><%=t('users.login.forgot_password_header') %></span>
    </div>
    <div class="sub-text-container-sub">
      <span><%=t('users.login.forgot_password_sub') %></span>
    </div>
    <br />
    <%= form_tag forgot_password_submit_users_path(), :id => "forgot_password_form" do %>
      <%= text_field_tag :email, nil, :placeholder => t('users.login.email'), :class => "" %><br/>
      <br />
      <br />
      <div style="padding-left: 100px;">
        <%= ssg_button t('form.common.submit'), {:onclick => "submitForm('\#forgot_password_form');"} %>
      </div>
      <br />
    <%end%>
</div>

<script type="text/javascript">
  // Validation
  $('#forgot_password_form').validate({
    rules: {
      email: {
        required: true,
        email: true
      }
    },
    messages: {
      email: {
        required: I18n.t('validation.register.email'),
        email: I18n.t('validation.register.email_f')
      }
    }
  });
</script>