<style type="text/css">
  .user-city-photo {
    height: 160px;
    width: 160px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-top: 15px;
    border: 1px black;
  }

  .user-info {
    font-size: 14px;
    margin-left: 30px;
  }

  .user-info-full-name {
    font-size: 22px;
  }

  .no-issues-text {
    font-size: 16px;
    color: #333333;
  }

  .user-info-loc {
    font-size: 14px;
    padding-top: 2px;
  }

  .user-info-more {
    width: 80px;
    display: inline-block;
  }

  .website-link a {
    color: #9ECC3B;
  }

  .user-description {
    font-size: 11px;
    color: #666666;
    text-align: justify;
    max-height: 40px;
    font-style: italic;
  }

</style>


<div class="breadcrumb-container" style="margin-left: 40px; margin-bottom: -12px;">
  <a href="<%= root_path() %>">ULICA.BA</a> / <span><%= @profile_user.username.upcase %></span>
</div>

<div style="display: block;">
  <div id="user_issues_left_column">
    <%= image_tag @profile_user.image ? @profile_user.image.image.thumb : 'no-photo.png', :class => 'user-city-photo' %>
    <div class="user-info">
      <span class="user-info-full-name din-font"> <%= @profile_user.full_name %> </span>
      <% if @profile_user.city %>
        <div class="user-info-loc din-font">
          <span class="asset-location-black" ></span>
          <span class="font-gray-dark" style="line-height:16px;">&nbsp;<%= @profile_user.city.name%></span>
        </div>
      <% end %>
      <% if @profile_user.description && !@profile_user.description.empty? %>
        <span class="user-description din-font">
          <br />
          <%= truncate(@profile_user.description, :length => 500)  %>
        </span>
      <% end %>
      <br />
      <% if @profile_user.website && !@profile_user.website.empty? %>
        <span class="website-link">
          <br />
          <a href='<%= @profile_user.formated_website %>'>Website</a>
        </span>
        <br />
        <br />
      <% end %>
      <span class="user-info-more din-font"> <%= t('users.show.issues') %>: </span><b><%= @issues.size %></b>
      <br />
    </div>
  </div>

  <div id="user_issues_right_column">

    <% unless @issues.empty? %>
      <%= render :partial => 'issues/issue', :collection => @issues %>
    <% else %>
      <br />
      <span class="no-issues-text"><%= t('users.show.no_issues') %></span>
    <% end %>
    
  </div>
</div>
<div style="clear: both;"></div>