<style type="text/css">
  .user-city-photo {
    height: 160px;
    width: 160px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-top: 15px;
    border: 1px black;
  }

  .user-info {
    font-size: 14px;
    margin-left: 30px;
    overflow: hidden;
  }

  .user-info-full-name {
    font-size: 22px;
  }

  .no-issues-text {
    font-size: 16px;
    color: #333333;
  }

  .user-info-loc {
    font-size: 14px;
    padding-top: 2px;
  }

  .user-info-more {
    width: 80px;
    display: inline-block;
  }
</style>


<div class="breadcrumb-container" style="margin-left: 40px; margin-bottom: -12px;">
  <a href="<%= root_path() %>">ULICA.BA</a> / <span><%= @profile_user.full_name.upcase %></span>
</div>

<div style="display: block;">
  <div id="user_issues_left_column">
    <%= image_tag @profile_user.image ? @profile_user.image.image.logo_full : 'no-photo.png', :class => 'user-city-photo' %>
    <div class="user-info">
      <span class="user-info-full-name din-font"> <%= @profile_user.full_name %> </span>

      <% if @profile_user.city %>
      <a href="<%=city_path @profile_user.city %>">
        <div class="user-info-loc">
            <i class="fa fa-map-marker font-gray-dark"> </i>
            <span class="font-gray-dark" style="line-height:16px;"> 
              <%= @profile_user.city.name %>
            </span>
        </div>
      </a>
      <% end %>

      <% if !@profile_user.website.blank? %>
        <%= link_to(@profile_user.website, url_for(@profile_user.website), :class => 'user-info-web') %>
        <br>
        <br>
      <% end %>      

      <% if !@profile_user.description.blank? %>
        <span class="user-info-desc din-font">
          <%= truncate(@profile_user.description, :length => 500)  %>
        </span>
        <br>
      <% end %>

      <br>
      <hr>
      <br>
      <div class="user-info-issues din-font" >
        <span class="user-info-issues-title din-font"><%= t('users.show.issues') %></span>
        <ul style="margin: 5px;">
          <% Issue.user_statuses.each do |status| %>
            <li><%= trans(status.name) %>: <strong><%= @profile_user.get_issues_by_status(status.id).size %></strong></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div id="user_issues_right_column">

    <% unless @issues.empty? %>
      <%= render :partial => 'issues/issue', :collection => @issues %>
    <% else %>
      <br />
      <span class="no-issues-text"><%= t('users.show.no_issues') %></span>
    <% end %>
    
  </div>
</div>
<div style="clear: both;"></div>