<div class="login-container">
	<span class='font-dp-bold font-18'><%=t('users.login.login') %></span><br>
	<span class='font-dp-regular'><%=t('users.login.login_message') %></span>
	<%=form_tag verify_login_users_path(), :id => "login_form" do %>
		<%= text_field_tag :email, nil, :placeholder => t('users.login.email') %><br/>
		<%= password_field_tag :password, nil, :placeholder => t('users.login.password') %><br/>
		<%= ssg_button t('users.login.login_button'), {:onclick => "$('\#login_form').submit();"}%>
	<% end %>
</div>
<div class="login-container">
	<div id="register-wrapper">
		<span class='font-dp-bold font-18'><%=t('users.login.register') %></span><br>
		<span class='font-dp-regular'><%=t('users.login.register_message') %></span>
		<%= form_tag register_users_path(), :id => "register_form" do %>
			<%= text_field_tag :email, nil, :placeholder => t('users.login.email'), :class => "font-dp-regular" %><br/>
			<%= password_field_tag :password1, nil, :placeholder => t('users.login.password'), :class => "font-dp-regular" %><br/>
			<%= password_field_tag :password2, nil, :placeholder => t('users.login.register_repeat_password'), :class => "font-dp-regular" %><br/>
			<%= check_box_tag :terms_of_use %><%= label_tag t('users.login.register_agree_tou') %><br>
			<%= ssg_button t('users.login.register_button'), {:onclick => "$('\#register_form').submit();"}%>
		<%end%>
	</div>
</div>
<div class="login-container">
	<span class='font-dp-bold font-18'><%=t('users.login.quick_sign_in') %></span><br>
	<span class='font-dp-regular'><%=t('users.login.quick_sign_in_message') %></span><br>
	<%= link_to image_tag('fb_login_en.png'), '#', :id => 'fb-login-link' %> 
</div>
<br style="clear:both">

<script type="text/javascript">
	$('#fb-login-link').click(function(event) {
		fb_login('<%=Config::get(:fb, :application_id)%>', escape('<%=fb_login_users_url()%>'), '<%=Config::get(:fb, :scope)%>'); 
		return false;
	});

	// Validation
	$('#login_form').validate({
		rules : {
			'email': {
				required: true,
				email: true
			},
			'password': {
				required: true
			}
		}
	});

	$('#register_form').validate({
		rules : {
			'city[id]' : {
				required: true
			},
			'email': {
				required: true,
				email: true
			},
			'password1': {
				required: true,
      			rangelength: [3, 5]
			},
			'password2': {
				required: true,
				equalTo: '#password1'
			}
		}
	});


</script>