<div class="breadcrumb-container">
  SSG / <span> <%= t('users.login.forgot_bread_title') %> </span>
</div>
<div class="login-container">
</div>
<div class="login-container-center" style="padding-top: 80px;">
    <div class="sub-text-container-head">
      <span><%=t('users.login.forgot_password_header') %></span>
    </div>
    <br />
    <%= form_tag activate_password_users_path(), :id => "reset_password_form" do %>
      <%= password_field_tag :password1, nil, :placeholder => t('users.login.password'), :class => "" %><br/>
      <%= password_field_tag :password2, nil, :placeholder => t('users.login.register_repeat_password'), :class => "" %><br/>
      <%= hidden_field_tag :token, @token %>
      <br />
      <br />
      <div style="padding-left: 100px;">
        <%= ssg_button t('form.common.submit'), {:onclick => "submitForm('\#reset_password_form');"} %>
      </div>
      <br />
    <%end%>
</div>

<script type="text/javascript">
  // Validation
  $('#reset_password_form').validate({
    rules: {
      password1: {
        required: true,
        rangelength: [5, 50]
      },
      password2: {
        required: true,
        equalTo: '#password1'
      },
    },
    messages: {
      password1: {
        required: I18n.t('validation.register.password1'),
        rangelength: I18n.t('validation.register.password_l')
      },
      password2: {
        required: I18n.t('validation.register.password2'),
        equalTo: I18n.t('validation.register.password_match')
      }
    }
  });
</script>