<br />
<span class="comments-title"><%=t('shared.comments.discuss')%> (<%=comments.count%> <%=t('shared.comments.comments')%>)</span>
<br/>
<br/>
<hr/>
<% if @user.guest? %>
	<span class="comments-guest"><%=t('shared.comments.log_in')%></span>
<% else %>
	<div id="comment_editor" style="padding:25px 0 25px 0; overflow:auto;">
			<%= image_tag @user.avatar, :style => 'width: 50px; float:left; margin-right:10px;' %>
			<%= form_tag comments_path(), :id => 'comment_form', :remote => true do |f| %>
				<%= text_field_tag :text, "", :style => 'width:300px;' %>
				<input type="hidden" name="issue_id" value="<%=issue.id%>" />
				<%= ssg_button(t('shared.comments.comment'), { :onclick => "$('\#comment_form').submit();"}, { :style => 'height:32px; line-height:30px;' }) %>
			<% end %>
	</div>
<% end %>
<hr/>

<% comments.each do |comment|%>
	<hr/>
	<% if comment.admin? %>
		<div class="comment-entry" style="padding:5px 0 5px 0; overflow:auto;background-color:#D1EA9F;">
		<div style="float:left; margin-left:10px; width:550px;">
			<div style="margin-top: 3px;">
				<span class="comment-name-admin"> Administrator </span>&nbsp;&nbsp;
				<span class="comment-time"> &nbsp;&nbsp;<%=distance_of_time_in_words_to_now(comment.created_at)%></span>

				<%-# if admin user or this comment is owned by this user -%>
				<% if @user.ssg_admin? || comment.is_owned?(@user) %>
					<%= link_to comment_path(comment), :class => "comment-delete", :method => :delete, :title => 'Obriši!', :data => {:confirm => t('issues.comments.delete_confirm')} do %>
						<%= @user.ssg_admin? ? '[Admin Delete!]' : t('issues.comments.delete_comment') %>
					<% end %>
				<% end %>

			</div>
			<span class="comment-text-admin">
				<%= comment.admin_text%>
			</span>
		</div>
	</div>
	<% else %>
	<div class="comment-entry" style="padding:25px 0 25px 0; overflow:auto;">
		<%= image_tag comment.user.avatar, :style => 'width: 50px; float:left;' %>
		<div style="float:left; margin-left:10px; width:500px;">
			<div style="margin-top: 3px;">
				<span class="comment-name"><%= comment.user.full_name %>  </span>&nbsp;&nbsp;
				<span class="comment-time"> &nbsp;&nbsp;<%=distance_of_time_in_words_to_now(comment.created_at)%></span>

				<%-# if admin user or this comment is owned by this user -%>
				<% if @user.ssg_admin? || comment.is_owned?(@user) %>
					<%= link_to comment_path(comment), :class => "comment-delete", :method => :delete, :title => 'Obriši!', :data => {:confirm => t('issues.comments.delete_confirm')} do %>
						<%= @user.ssg_admin? ? '[Admin Delete!]' : t('issues.comments.delete_comment') %>
					<% end %>
				<% end %>

			</div>
			<span class="comment-text">
				<%= comment.text %>
			</span>
		</div>
	</div>
	<% end %>
<% end %>

<% content_for :javascript do %>
<script>
	$(function () {
		// Validation
		$('#comment_form').validate({
			rules : {
				'text': {
					required: true
				}
			},
			messages: {
				text: {
					required: I18n.t('validation.messages.required')
				}
			}
		});		
	});
</script>
<% end %>