
<div>
    <div class="footer-logo">
      <a href="http://sredisvojgrad.org">
        <div class="asset-ssg-logo"></div>
      </a>
    </div>
    <div class="footer-logo">
      <a href="http://sarajevo.usembassy.gov">
        <div class="asset-us-embassy-logo"></div>
      </a>
    </div>
    <div class="footer-logo">
      <div class="asset-us-flag-logo"></div>
    </div>
    <div class="footer-logo">
      <a href="http://www.cpcd.ba">
        <div class="asset-cpcd-logo"></div>
      </a>
    </div>

  <div class="main-footer-menu">
    <div class="footer-menu">
      <%= link_to(t('shared.footer.tos'), terms_path)%>  <span>|</span>
      <%= link_to(t('shared.footer.help'), faq_path) %>  <span>|</span>
    	<%= link_to(t('shared.footer.contact'), contact_path)%>
    </div>
    <div class="copyright-menu">
      <span>2013 ULICA.ba by Sredi Svoj Grad &amp; Centar za promociju civilnog društva.</span>
    </div>
  </div>
  <div style="clear:both;"></div>
  <div class="footer-disclamer">
    <%= t('shared.footer.disclamer1')%><br>
    <%= t('shared.footer.disclamer2')%>
  </div>
</div>