
<div>
  <div class="main-footer-menu">
    <div class="locale-selection">
      <a href="<%= locale_change_path(:locale => :bs) %>"><%= I18n.t("shared.locale.bs") %></a> | <a href="<%= locale_change_path(:locale => :en) %>"><%=I18n.t("shared.locale.en") %></a>
    </div>
    <div class="footer-menu">
      <%= link_to(t('shared.footer.tos'), terms_path)%>  <span>|</span>
      <%= link_to(t('shared.footer.help'), faq_path) %>  <span>|</span>
    	<%= link_to(t('shared.footer.contact'), contact_path)%>
    </div>
    <div class="copyright-menu">
      <span>All rights reserved. Copyright 2013 ULICA.ba by Sredi Svoj Grad &amp; Centar za promociju civilnog društva.</span>
    </div>
  </div>
</div>