<div style="float:left; padding: 22px;">
	<div class="asset-logo">
	</div>
</div>

<div style="float:left;">
	<div style="margin-top:30px;">
		<div style="float:right;" class="asset-learn-more"></div>
		<span style="float:right;">
			<strong>What is SSG?</strong> We are social community that wants to provide its citizens life in nicer environment&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
	</div>
	
	<% puts "#{params[:controller]}   #{params[:action]}"%>
	<% selection = {
		:issues => params[:controller] == 'issues' && params[:action] != 'new',
		:cities => params[:controller] == 'cities',
		:report => params[:controller] == 'issues' && params[:action] == 'new',
		:blog => params[:controller] == 'blog',
		:help => params[:controller] == 'help',
		:signup => params[:controller] == 'users' && params[:action] == 'login',
		:login => params[:controller] == 'users' && params[:action] == 'login'
	}%>
	<% puts selection.inspect%>
	
	<div style="margin-top:70px;">
		<ul id="menu-list">
			<li>
				<%=link_to 'ISSUES', issues_path(), :class => "font-dp-bold font-black #{'menu-selected' if selection[:issues]}"%><br/>
				<span class="font-gray font-dp-medium">DISCOVER ALL</span><br/>
				<% if selection[:issues]%>
					<div style="margin-top:5px;height:1px; background-color:#9ecc3b"></div>
				<% end %>
			</li>
			<li>
				<%=link_to 'CITIES', cities_path(), :class => "font-dp-bold font-black #{'menu-selected' if selection[:cities]}"%><br/>
				<span class="font-gray font-dp-medium">COUNTRY WIDE</span><br/>
				<% if selection[:cities]%>
					<div style="margin-top:5px;height:1px; background-color:#9ecc3b"></div>
				<% end %>
			</li>
			<li>
				<%=link_to 'REPORT', new_issue_path(), :class => "font-dp-bold font-black #{'menu-selected' if selection[:report]}"%><br/>
				<span class="font-gray font-dp-medium">YOUR PROBLEM</span><br/>
				<% if selection[:report]%>
					<div style="margin-top:5px;height:1px; background-color:#9ecc3b"></div>
				<% end %>
			</li>
			<li style="width:200px;">
				<input type="text"/>
			</li>
			<li>
				<%=link_to 'BLOG', new_issue_path(), :class => "font-dp-bold font-gray", :style => 'line-height:25px;' %><br/>
			</li>
			<li>
				<%=link_to 'HELP', new_issue_path(), :class => "font-dp-bold  font-gray", :style => 'line-height:25px;' %><br/>
			</li>
			<li>
				<%=link_to 'SIGNUP', login_users_path(), :class => "font-dp-bold  font-gray", :style => 'line-height:25px;' %><br/>
			</li>
			<li>
				<%=link_to 'LOGIN', login_users_path(), :class => "font-dp-bold  font-gray", :style => 'line-height:25px;' %>
			</li>
			
		</ul>
	</div>
</div>

