<div style="float:left; padding: 22px;">
	<div class="asset-logo">
	</div>
</div>

<div style="float:left;">
	<div style="margin-top:30px;">
		<div style="float:right;" class="asset-learn-more"></div>
		<span style="float:right;">
			<strong><%=t('shared.menu.what')%></strong> <%=t('shared.menu.we_are')%>&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
	</div>
	
	<% puts "#{params[:controller]}   #{params[:action]}"%>
	<% selection = {
		:issues => params[:controller] == 'issues' && params[:action] != 'new',
		:cities => params[:controller] == 'cities',
		:report => params[:controller] == 'issues' && params[:action] == 'new',
		:blog => params[:controller] == 'blog',
		:help => params[:controller] == 'help',
		:signup => params[:controller] == 'users' && params[:action] == 'login',
		:login => params[:controller] == 'users' && params[:action] == 'login'
	}%>
	<% puts selection.inspect%>
	
	<div style="margin-top:70px;">
		<ul id="menu-list">
			<li>
				<%=link_to t('shared.menu.issues'), issues_path(), :class => "font-dp-bold font-black #{'menu-selected' if selection[:issues]}"%><br/>
				<span class="font-gray font-dp-medium"><%=t('shared.menu.discover')%></span><br/>
				<% if selection[:issues]%>
					<div style="margin-top:5px;height:1px; background-color:#9ecc3b"></div>
				<% end %>
			</li>
			<li>
				<%=link_to t('shared.menu.cities'), cities_path(), :class => "font-dp-bold font-black #{'menu-selected' if selection[:cities]}"%><br/>
				<span class="font-gray font-dp-medium"><%=t('shared.menu.country')%></span><br/>
				<% if selection[:cities]%>
					<div style="margin-top:5px;height:1px; background-color:#9ecc3b"></div>
				<% end %>
			</li>
			<li>
				<% path = @user.guest? ?  login_users_path() : new_issue_path() %>
				<%=link_to t('shared.menu.report'), path, :class => "font-dp-bold font-black #{'menu-selected' if selection[:report]}"%><br/>
				<span class="font-gray font-dp-medium"><%=t('shared.menu.create_problem')%></span><br/>
				<% if selection[:report]%>
					<div style="margin-top:5px;height:1px; background-color:#9ecc3b"></div>
				<% end %>
			</li>
			<li style="width:200px;">
				<input type="text"/>
			</li>
			<li>
				<%=link_to t('shared.menu.blog'), new_issue_path(), :class => "font-dp-bold font-gray", :style => 'line-height:25px;' %><br/>
			</li>
			<li>
				<%=link_to t('shared.menu.help'), new_issue_path(), :class => "font-dp-bold  font-gray", :style => 'line-height:25px;' %><br/>
			</li>
			<% if @user.guest? %>
			<li>
				<%=link_to t('shared.menu.login'), login_users_path(), :class => "font-dp-bold  font-gray", :style => 'line-height:25px;' %>
			</li>
			<% else %>
			<li>
				<ul class="dd_menu">
					<li>
						<img src="<%=@user.avatar%>" style="float:left;height:25px;"/>
						<%=link_to(@user.display_name, '#', :class => "font-dp-bold  font-gray", :style => 'line-height:25px;') %>
						<ul>
							<li><%=link_to t('shared.menu.profile'), user_path(@user) %></li>
							<li><%=link_to t('shared.menu.settings'), '#' %></li>
							<li><%=link_to t('shared.menu.logout'), logout_user_path(@user) %></li>
						</ul>
					</li>
				</ul>
			</li>
			<% end -%>
		</ul>
	</div>
</div>
