<div style="float:left; padding: 22px;">
	<%= link_to root_path do %>
	<div class="asset-logo"></div>
	<% end %>
</div>

<div style="float:left;">

	<div style="margin-top:30px;">
		<%= link_to(learn_path) do %>
			<div style="float:right;" class="asset-learn-more"></div>
		<% end %>
		<span style="float:right;">
			<strong><%=t('shared.menu.what')%></strong> <%=t('shared.menu.we_are')%>&nbsp;&nbsp;&nbsp;&nbsp;
		</span>
	</div>
	
	<% puts "#{params[:controller]}   #{params[:action]}"%>
	<% selection = {
		:issues => params[:controller] == 'issues' && params[:action] != 'new',
		:cities => params[:controller] == 'cities',
		:report => params[:controller] == 'issues' && params[:action] == 'new',
		:blog => params[:controller] == 'blog',
		:help => params[:controller] == 'help',
		:signup => params[:controller] == 'users' && params[:action] == 'login',
		:login => params[:controller] == 'users' && params[:action] == 'login'
	}%>
	<% puts selection.inspect%>
	
	<div style="margin-top:70px;">
		<ul id="menu-list">
			<li class="menu-sub">
				<%=link_to t('shared.menu.issues'), issues_path(), :class => "value_strip() font-black #{'menu-selected' if selection[:issues]}"%><br/>
				<span class="font-gray"><%=t('shared.menu.discover')%></span><br/>
				<% if selection[:issues]%>
					<div class="selection"></div>
				<% end %>
			</li>

			<li class="menu-sub">
				<%=link_to t('shared.menu.cities'), cities_path(), :class => "value_strip() font-black #{'menu-selected' if selection[:cities]}"%><br/>
				<span class="font-gray "><%=t('shared.menu.country')%></span><br/>
				<% if selection[:cities]%>
					<div class="selection"></div>
				<% end %>
			</li>
			
			<li class="menu-sub">
				<% path = @user.guest? ?  login_users_path() : new_issue_path() %>
				<%=link_to t('shared.menu.report'), path, :class => "value_strip() font-black #{'menu-selected' if selection[:report]}"%><br/>
				<span class="font-gray "><%=t('shared.menu.create_problem')%></span><br/>
				<% if selection[:report]%>
					<div class="selection"></div>
				<% end %>
			</li>

			<% if @user.guest? %>
			<li class="menu-sub" style="float:right;">
				<%=link_to t('shared.menu.login'), login_users_path(), :class => "value_strip()  font-gray", :style => 'line-height:25px;' %>
			</li>
			<% else %>
			<li class="menu-sub" id="bar"  style="float:right;">

				<div class="dropdown">
					<a class="account"><%=@user.display_name%></a>
					<div class="submenu">
					<ul class="root">
						<li><a href="#">Profile</a></li>
						<li><a href="#">Settings</a></li>
						<li><%=link_to 'Logout', logout_user_path(@user.id)%></li>
					</ul>
					</div>
				</div>

			</li>
			<% end -%>

			<li class="menu-sub" style="float:right;">
				<%=link_to t('shared.menu.blog'), new_issue_path(), :class => "value_strip()", :style => 'line-height:25px;' %><br/>
			</li>
			<li  class="menu-sub" style="float:right;">
				<%=link_to t('shared.menu.help'), faq_path(), :class => "value_strip()", :style => 'line-height:25px;' %><br/>
			</li>

		</ul>
	</div>
</div>


<%=content_for :javascript do %>
<script>
$(document).ready(function()
{

$(".account").click(function()
{
var X=$(this).attr('id');
if(X==1)
{
$(".submenu").hide();
$(this).attr('id', '0'); 
}
else
{
$(".submenu").show();
$(this).attr('id', '1');
}

});

//Mouse click on sub menu
$(".submenu").mouseup(function()
{
return false
});

//Mouse click on my account link
$(".account").mouseup(function()
{
return false
});


//Document Click
$(document).mouseup(function()
{
$(".submenu").hide();
$(".account").attr('id', '');
});
});
</script>
<% end %>
