<div style="float:left; padding: 22px;">
	<%= link_to root_path do %>
	<div id="logo" class="asset-logo-ulica"></div>
	<% end %>
</div>

<div class="header-menu">
	<ul>
		<li>
	    <a href="<%= locale_change_path(:locale => :bs, :script => :latin) %>">BHS</a> | 
	    <a href="<%= locale_change_path(:locale => :bs, :script => :cyrillic) %>">БХС</a> | 
  	  <a href="<%= locale_change_path(:locale => :en, :script => :latin) %>">EN</a>
		</li>
		<li>
	    <%= link_to(t('shared.menu.help'), faq_path) %>		
		</li>
		<!--
		<li>
	  	<%= link_to(t('shared.menu.admin_login'), ssg_admin_path)%>		
		</li>
		-->
	</ul>
</div>

<div style="float:left;">
	
	<% selection = {
		:issues => params[:controller] == 'issues' && params[:action] != 'new',
		:cities => params[:controller] == 'cities',
		:reports => params[:controller] == 'documents' && params[:action] == 'reports',
		:report => params[:controller] == 'issues' && params[:action] == 'new',
		:contact => params[:controller] == 'documents' && params[:action] == 'contact',
		:help => params[:controller] == 'help',
		:signup => params[:controller] == 'users' && params[:action] == 'login',
		:login => params[:controller] == 'users' && params[:action] == 'login'
	}%>
	
	<div style="margin-top:35px;">
		<ul id="menu-list">
			<li class="menu-sub">
				<%=link_to t('shared.menu.issues'), issues_path(), :class => "value_strip() font-black #{'menu-selected' if selection[:issues]}"%><br/>
				<span class="font-gray"><%=t('shared.menu.discover')%></span><br/>
				<% if selection[:issues]%>
					<div class="selection"></div>
				<% end %>
			</li>

			<li class="menu-sub">
				<%=link_to t('shared.menu.cities'), cities_path(), :class => "value_strip() font-black #{'menu-selected' if selection[:cities]}"%><br/>
				<span class="font-gray "><%=t('shared.menu.country')%></span><br/>
				<% if selection[:cities]%>
					<div class="selection"></div>
				<% end %>
			</li>			
			
			<li class="menu-sub">
				<% path = @user.guest? ?  login_users_path(:create_issue => true) : new_issue_path() %>
				<%=link_to t('shared.menu.report'), path, :class => "value_strip() font-black #{'menu-selected' if selection[:report]}"%><br/>
				<span class="font-gray "><%=t('shared.menu.create_problem')%></span><br/>
				<% if selection[:report]%>
					<div class="selection"></div>
				<% end %>
			</li>

			<li class="menu-sub">
				<%=link_to t('shared.menu.reports'), reports_path(), :class => "value_strip() font-black #{'menu-selected' if selection[:reports]}"%><br/>
				<span class="font-gray "><%=t('shared.menu.reports_discover')%></span><br/>
				<% if selection[:reports]%>
					<div class="selection"></div>
				<% end %>
			</li>

			<% if @user.guest? %>
			<li class="menu-sub" style="float:right;">
				<%=link_to t('shared.menu.login'), login_users_path(), :class => "value_strip() font-black #{'menu-selected' if selection[:login]}" %><br/>
				<span class="font-gray "><%=t('shared.menu.registration')%></span>
				<% if selection[:login]%>
					<div class="selection"></div>
				<% end %>
			</li>
			<% else %>
				<li class="menu-sub" style="float:right;">
					<%= link_to logout_user_path(@user.id), :title=>t('shared.menu.logout') do %>
					<i class="fa fa-sign-out fa-2x"></i>
					<% end %> 
				</li>
				<li class="menu-sub" style="float:right;">
					<%= link_to edit_user_path(@user.id), :title=>t('shared.menu.settings') do %>
						<i class="fa fa-cog fa-2x"></i>
					<% end %>
				</li>
				<li class="menu-sub" style="float:right;">
						<%= link_to user_path(@user.id), :title=>t('shared.menu.profile') do %>
							<span class="menu-user-title"><%= @user.full_name %></span>
							<%= image_tag @user.avatar, :class => 'profile-user-photo' %>
						<% end %>
				</li>
			<% end %>

		<!--	<li class="menu-sub" style="float:right;">
				<%=link_to t('shared.menu.contact'), contact_path(), :class => "value_strip() font-black #{'menu-selected' if selection[:contact]}"%><br/>
				<span class="font-gray "><%=t('shared.menu.information')%></span><br/>
				<% if selection[:contact]%>
					<div class="selection"></div>
				<% end %>
			</li>-->

		</ul>
	</div>
</div>


<%=content_for :javascript do %>
<script>
$(document).ready(function()
{

$(".account").click(function()
{
var X=$(this).attr('id');
if(X==1)
{
$(".submenu").hide();
$(this).attr('id', '0'); 
}
else
{
$(".submenu").show();
$(this).attr('id', '1');
}

});

//Mouse click on sub menu
$(".submenu").mouseup(function()
{
return false
});

//Mouse click on my account link
$(".account").mouseup(function()
{
return false
});


//Document Click
$(document).mouseup(function()
{
$(".submenu").hide();
$(".account").attr('id', '');
});

  $('#logo').hover(function() {
      $('#logo').addClass('asset-logo-ssg');
      $('#logo').removeClass('asset-logo-ulica');
  }, function(){
      $('#logo').removeClass('asset-logo-ssg');
      $('#logo').addClass('asset-logo-ulica');
  });

});
</script>
<% end %>
