<div class="centered">
	<%= image_tag('tour/tour-header.jpg')%>
</div>

<div id="wrapper">
    <div class="slider-wrapper">
        <div id="slider" class="nivoSlider">
            <%= image_tag 'tour/tour-slide1.jpg'%>
            <%= image_tag 'tour/tour-slide2.jpg'%>
            <%= image_tag 'tour/tour-slide3.jpg'%>
            <%= image_tag 'tour/tour-slide4.jpg'%>
            <%= image_tag 'tour/tour-slide5.jpg'%>
        </div>
    </div>
</div>

<div class="centered" style="margin-top:5px;">
    <%= image_tag('tour/tour-footer.jpg')%>
</div>

<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider({
        pauseOnHover: false,        // Does not stop when mouse is over
        directionNav:false,         // No next and prev arrows
        controlNav: false,          // No thummbs
        pauseTime: 5000,            // 5 seconds wait
        effect: 'slideInLeft'});
});
</script>