<div class="breadcrumb-container">
  <a href="<%= root_path() %>">ULICA.BA</a> / <span><%= t('documents.reports.title')%></span>
</div>

<% current_url = "#{request.protocol}#{request.host_with_port}" %>
<div id="report_content">
  <div>
    <h2 class="text_title">Report 2012</h2>
    <div id="content_form">
      <p align="justify">
        Center for promotion of civil society presents reaserch about civil satisfaction with public service in specific cities. Reaserch has been done as a part of project  "Monitoring lokalnih usluga: organizacije civilnog društva (OCD), građani i lokalne vlasti zajedno do boljih usluga ". Project is financed by Fond otvoreno društvo BiH.
      </p>
      <p align="justify">
        Goal of this project was to support development of local, democratic, civic administration in BiH based on principles of participation, non-discrimination and responsibilities of local administration. Project activities include 75 non-government organizations and non-formal groups via forums, public campaigns and other activities.
      </p>
      <br />
      <br />
      <span class="sub-header">Final reports:</span>
      <br />
      <br />
      <p>
        <a class="button-link" href="<%= current_url %>/assets/docs/Finalni_izvjestaj_za_Opcinu_Stari_grad_Sarajevo.pdf" target="_blank">Report: Public administration opinion in city Stari Grad Sarajevo</a>
      </p>
      <p>
        <a class="button-link" href="<%= current_url %>/assets/docs/Finalni_izvjestaj_za_Opcinu_Centar.pdf" target="_blank">Report: Public administration opinion in city Centar</a>
      </p>
      <p>
        <a class="button-link" href="<%= current_url %>/assets/docs/Finalni_izvjestaj_za_Novo_Sarajevo.pdf" target="_blank">Report: Public administration opinion in city Novo Sarajevo</a>
      </p>
      <p>
        <a class="button-link" href="<%= current_url %>/assets/docs/Finalni_izvjestaj_za_Opcinu_Novi_grad.pdf" target="_blank">Report: Public administration opinion in city Novi Grad</a>
      </p>
      <p>
        <a class="button-link" href="<%= current_url %>/assets/docs/Finalni_izvjestaj_za_Ilidzu.pdf" target="_blank">Report: Public administration opinion in city Ilidža</a>
      </p>
      <p>
        <a class="button-link" href="<%= current_url %>/assets/docs/Finalni_izvjestaj_za_Vogoscu.pdf" target="_blank">Report: Public administration opinion in city Vogošća</a>
      </p>
      <br />
      <br />
      <span class="sub-header">Summary reports:</span>
      <br />
      <br />

      <p>
        <a class="button-link" href="<%= current_url %>/assets/docs/Stari_Grad_sumarno.pdf" target="_blank">Summary report for city Stari Grad Sarajevo</a>
      </p>
      <p>
        <a class="button-link" href="<%= current_url %>/assets/docs/Centar_sumarno.pdf" target="_blank">Summary report for city Općinu Centar</a>
      </p>
      <p>
        <a class="button-link" href="<%= current_url %>/assets/docs/Novo_Sarajevo_sumarno.pdf" target="_blank">Summary report for city Općinu Novo Sarajevo</a>
      </p>
      <p>
        <a class="button-link" href="<%= current_url %>/assets/docs/Novi_Grad_sumarno.pdf" target="_blank">Summary report for countyOpćinu Novi Grad</a>
      </p>
      <p>
        <a class="button-link" href="<%= current_url %>/assets/docs/Ilidza_sumarno.pdf" target="_blank">Summary report for city Ilidžu</a>
      </p>
      <p>
        <a class="button-link" href="<%= current_url %>/assets/docs/Vogosca_sumarno_1.pdf" target="_blank">Summary report for city Vogošću</a>
      </p>
    </div>
  </div>
  <div id="clear"></div>
</div>