<div class="breadcrumb-container">
  <a href="<%= root_path() %>">ULICA.BA</a> / <span><%= t('documents.terms.title')%></span>
</div>
<div class="terms-content">
	<span><%= trans('Molimo Vas da pažljivo pročitate Uslove korištenja prije upotrebe web platforme Ulica.ba, kojom upravlja Udruženje „Sredi Svoj Grad“. Uslovi sadržani u ovom dokumentu osiguravaju niz pravila kojima se reguliše odnos između Udruženja „Sredi Svoj Grad“ (u daljnjem tekstu: “Udruženje”) i Vas kao korisnika web platforme Ulica.ba (u daljnjem tekstu: “Korisnici” ili „Vi“)') %>
		<br>
		<%= trans('Uslovi korištenja predstavljaju pravno obvezujuće odredbe i uvjete za korištenje Ulica.ba.') %> 
		<br>
		<br>
		<strong><%= trans('Upotreba i zaštita ličnih i drugih podataka') %></strong>
		<br>
		<%= trans('Prilikom korištenja Ulica.ba dužni ste da osigurate potpune, istinite i tačne podatke koje dajete, a Udruženje će poduzeti sve što je potrebno kako bi se zaštitila i osigurala privatnost ličnih podataka.
		Udruženje zadržava pravo na korekciju sadržaja dostavljenih od strane korisnika/ca, bez promjene osnovnog smisla, a u skladu sa Zakonom.') %>
		<br>
		<%= trans('Korištenjem Ulica.ba saglasni ste da podaci ili informacije koje ste predali, budu dostupni svima koji su zainteresovani, osim Vaše e-mail adrese, a u skladu sa Uslovima korištenja. Udruženje prikuplja samo nužne lične podatke o korisnicima,  informišući korisnike o načinu njihovog korištenja. Svi dostavljeni lični podaci korisnika strogo se čuvaju i dostupni su samo administratorima web platforme Ulica.ba kojima su nužni za obavljanje tehničkih aktivnosti, uz strogo poštivanje načela zaštite privatnosti.  Podatke za prijavu (kao što su korisničko ime i šifra, itd.) može koristiti samo Korisnik. Prihvaćanjem ovih Uslova, Korisnici su suglasni da neće dijeliti svoje korisničko ime i šifru s trećim osobama.') %>
		<br>
		<br>
		<strong><%= trans('Vlasništvo nad sadržajem') %></strong>
		<br>
		<%= trans('Cjelokupan sadržaj Ulica.ba: tekst, slike, audio i video materijal, kao i programski kod su u vlasništvu Udruženja, pri čemu su sva prava zadržana, ukoliko nije naznačeno drugačije. Udruženje zadržava pravo da u bilo kom trenutku ukloni bilo koji sadržaj sa svog sistema i bez prethodne saglasnosti Korisnika. Udruženje nije odgovorno za sadržaj poruka koje ostavljaju korisnici Ulica.ba. Svi izneseni stavovi u sekciji komentara na Ulica.ba ili u nekoj drugoj sekciji Ulica.ba, nisu ujedno i stavovi Udruženja, te ono ne snosi odgovornost za tačnost informacija koje iznose općine ili Korisnik.') %>
		<br>
		<br>
		<strong><%= trans('Spoljašnje veze/Linkovi') %></strong>
		<br>
		<%= trans('Ulica.ba može sadržavati spoljašnje veze/linkove na web stranice trećih strana koje nisu u vlasništvu ili pod kontrolom Udruženja.') %>
		<br>
		<%= trans('Udruženje nema kontrolu nad njima, i ne preuzima nikakvu odgovornost za sadržaj, pravila o privatnosti, ili postupke bilo koje treće strane web stranice ili usluge. Preporučujemo svim Korisnicima da pročitaju uslove korištenja i pravila o privatnosti koje sadrži bilo koja druga web stranica koju ste posjetili.') %>
		<br>
		<br>
		<strong><%= trans('Pristanak na pravila i uslove korištenja Ulica.ba') %></strong>
		<br>
		<%= trans('Korištenjem Ulica.ba pristajete na navedene uslove korištenja, te ujedno nikakav eksplicitan pristanak od strane Korisnika nije potreban da bi navedeni Uslovi bili obavezujući. Poznavanje Uslova korištenja u svakom trenutku predstavlja obavezu Korisnika Ulica.ba.') %>
		<br>
		<%= trans('Udruženje zadržava pravo da promjeni bilo koju od navedenih odredbi u bilo kojem trenutku. Korisnici se obavezuju da će pažljivo pročitati i razumjeti sve takve izmjene i dopune. U slučaju da se Korisnik ne slaže sa izmjenama i dopunama Uslova korištenja, molimo ga da prestane koristiti web platformu Ulica.ba, te da deaktivira svoj profil. U  suprotnom će se smatrati da ste sve izvršene izmjene i dopune prihvaćene. Ukoliko se po diskrecionoj ocjeni Udruženja Korisnik ne bude pridržavao ovih Uslova, Udruženje zadržava pravo da bez opomene i upozorenja zatvori Korisnikov račun na web platformi Ulica.ba i to bez odlaganja.') %>
		<br>
		<br>
		<strong><%= trans('Kontakt') %></strong>
		<br>
		<%= trans('Ukoliko imate bilo kakva pitanja vezana za Uslove korištenja, pošaljite nam e-mail na adresu: ') %> <%= mail_to 'udruzenje@sredisvojgrad.org' %></span>
</div>