<div class="container-fluid">
  <div class="row-fluid">
    <a class="btn btn-primary add-admin-user" href="<%= new_ssg_admin_user_path() %>" >Kreiraj novog usera </a>
  </div>
  <div class="row-fluid">
    <!-- TABLE --> 
    <div class="grid span12">
      <div class="grid-title">
        <div class="pull-left">
          <div class="setup-icon"><i class="icon-bookmark"></i></div>
          <span>Korisnici</span> 
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>   
      </div>
      <div class="grid-content">
        <div class="dataTables_wrapper" role="grid"> 
          <table class="table table-bordered table-mod-2 dataTable" id="entry_table" aria-describedby="datatable_3_info">
            <thead>
              <tr role="row">
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">#</th>
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">email</th>
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Ime</th>
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Prezime</th>
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Opcina</th>
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Prijavio</th>
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Tip</th>
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Kreiran</th>
                <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Komande</th>
              </tr>
            </thead> 
            <tbody>
              <% @users.each do |user| %>
                <tr id="<%= "row_#{user.id}" %>">
                  <td><%= user.id %></td>
                  <td><%= user.email %></td>
                  <td><%= user.first_name %></td>
                  <td><%= user.last_name %></td>
                  <td><%= user.city ? user.city.name : 'Nema opcine' %></td>
                  <td><%= user.issues.size %> <%= user.issues.size == 1 ? 'problem' : 'problema' %></td>
                  <td><%= user.user_type %></td>
                  <td><%= user.created_at %></td>
                  <td class="admin-list-toolbar-cell" align="center">
                    <div class="btn-toolbar">
                      <div class="btn-group">
                        <%= link_to edit_ssg_admin_user_path(user), :class => "btn"  do%>
                          <i class="icon-edit"></i>
                        <% end %>
                        <%= link_to ssg_admin_user_path(user), :class => "btn", :method => :delete, :title => 'Obriši', :confirm => "Da li ste sigurni?" do %>
                          <i class="icon-remove"></i>
                        <% end %>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
