<div class="grid">

  <div class="span6">
    <form>
      <legend><%=@city.name%></legend>      
      <table class="table no-lines">

          <tr>
            <td>Koordinate</td>
            <td><%=@city.lat%>, <%=@city.long%></td>
          </tr>
          <tr>
            <td>Website</td>
            <td><%=@city.website%></td>
          </tr>
          <tr>
            <td>Facebook</td>
            <td><%=@city.facebook%></td>
          </tr>
          <tr>
            <td>Opis</td>
            <td><%=@city.description%></td>
          </tr>
          <tr>
            <td>Slika</td>
            <td>
              <% if @city.image%>
                <img src="<%=@city.image.image_url('logo_full')%>"/>
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div style="text-align:center; margin-top:15px;">
                <%= link_to 'Ažuriraj', edit_admin_city_path, :class=>'btn' %>
              </div>
            </td>
          </tr>
      </table>
    </form>
  </div>

  
</div>
