<div class="breadcrumb-container">
	<a href="<%= root_path() %>">ULICA.BA</a> / <span><%= t('cities.index.cities')%></span>
</div>

<div style="padding:0px 25px 25px 25px;">
	<div style="float: right;">
		<%= select_tag :city_id, options_for_select(@city_names), { :id => 'city_select', :onChange=>"return selectCity(this);" } %><br />
	</div>

	<div id="mini_map" style="width:100%;  height:700px; float:left;">
	</div>

	<br style="clear:both;" />
</div>

<% content_for :javascript do %>
<script>

$(document).ready(function() {
	$('#city_select').selectbox();
});

$(function () {

	$('#mini_map').SSGMap({
		zoomend : loadMoreIssues,
		dragend : loadMoreIssues,
		lat :  <%=@center_lat%>,
		lng :  <%=@center_long%>,
		zoom :  <%=@center_zoom%>
	});

	 loadMoreIssues();
});

var __icons = {};
<% @categories.each do |category| %>
	__icons[<%=category.id%>] = L.icon({ iconUrl : 'assets/map_icons/<%=category.icon%>', iconSize : [32, 37], iconAnchor: [16, 3] });
<% end %>

var __cities = {};

function selectCity(selectedItem) {
	var item = $(selectedItem);

	if (item.val() == 0) {
		return true;
	} else {
		window.location.href = '<%= cities_path() %>' + '/' + item.val();
	}
};

function loadMoreIssues() {
	var latLngBounds = $('#mini_map').SSGMap('getBounds');
	var sw_lat = latLngBounds.getSouthWest().lat;
	var sw_long = latLngBounds.getSouthWest().lng;
	var ne_lat = latLngBounds.getNorthEast().lat;
	var ne_long = latLngBounds.getNorthEast().lng;
	$.ajax({
		url : '<%=zoom_cities_path()%>?sw_lat=' + sw_lat + '&sw_long=' + sw_long + '&ne_lat=' + ne_lat + '&ne_long=' + ne_long, 
		type : 'get',
		success : function(data) {
			var to_draw = [];
			for(var i in data) {
				var city = data[i];
				if (__cities[city.id] == null) {
					to_draw.push(city);
					__cities[city.id] = city;
				}
			}
			drawIssues(to_draw);
		},
		error : function () {
			alert('error');
		}
	});
}

function drawIssues(issue_array) {
	// why not pass all ?!
	for (var i in issue_array) {
		var issue = issue_array[i];
		$('#mini_map').SSGMap('drawIssue', {
			lat : issue['lat'], 
			lng : issue['long'], 
			icon : __icons[issue.category_id],
			title : issue.title,
			description : issue.short_desc,
			image_url: issue.image_url,
			issue_url: issue.issue_url
		});
	}
}
</script>
<% end %>