<style type="text/css">
  .user-city-photo {
    max-width: 160px;
    max-height: 160px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-top: 15px;
    border: 1px black;
  }

  .user-info {
    font-size: 14px;
    margin-left: 30px;
  }

  .city-full-name {
    font-size: 22px;
  }

  .city-info-loc {
    font-size: 14px;
    padding-top: 2px;
    color: #999999;
  }

  .city-info-desc {
    font-size: 13px;
    margin-top: 4px;
  }

  .user-info-more {
    width: 80px;
    display: inline-block;
  }

</style>

<div class="breadcrumb-container" style="margin-left: 40px; margin-bottom: -8px;">
  <a href="<%= root_path() %>">ULICA.BA</a> / <a href="<%= cities_path() %>"><%= t('issues.right_menu.cities') %></a> / <span><%= @city.name %></span>
</div>

<div style="display: block;">
  <div id="user_issues_left_column">
    <%= image_tag @city.image ? @city.image.image.thumb_logo : 'no-city.png', :class => 'user-city-photo' %>
    <div class="user-info">
      <span class="city-full-name"> <%= @city.name %> </span>
      <br>

      <% if !@city.website.blank? %>
        <%= link_to @city.website, @city.website_url, :class => 'city-info-web' %>
        <br>
      <% end %>

      <% if !@city.facebook.blank? %>
        <%= link_to "#{@city.name} on Facebook", @city.facebook, :class => 'city-info-fb' %>
        <br>
      <% end %>

      <br>
      <% if !@city.description.blank? %>
        <span class="city-info-desc din-font">
          <%= truncate(@city.description, :length => 500)  %>
        </span>
        <br>
      <% end %>
      <br>
      <hr>
      <br>
      <div class="city-info-issues din-font" >
        <span class="city-info-issues-title din-font"><%= t('users.show.issues') %></span>
        <ul style="margin: 5px;">
          <% Issue.user_statuses.each do |status| %>
            <li><%= trans(status.name) %>: <strong><%= @city.get_issues_by_status(status.id).size %></strong></li>
          <% end %>
        </ul>        
      </div>
    </div>
  </div>

  <div id="user_issues_right_column">

    <%= render :partial => 'issues/issue', :collection => @issues %>
    
  </div>
</div>
<div style="clear: both;"></div>