<div class="breadcrumb-container">
  <a href="<%= root_path() %>">ULICA.BA<a/> / <span><%= t('cities.index.reports')%></span>
</div>

<% current_url = "#{request.protocol}#{request.host_with_port}" %>
<div id="report_content">
  <div>
    <h2 class="text_title">Report 2012</h2>
    <div id="content_form">
      <p align="justify">
        Center for promotion of civil society presents reaserch about civil satisfaction with public service in specific counties. Reaserch has been done as a part of project  &#39;&#39;Monitoring lokalnih usluga: organizacije civilnog dru&scaron;tva (OCD), građani i lokalne vlasti zajedno do boljih usluga &#39;&#39;. Project is financed by Fond otvoreno dru&scaron;tvo BiH.
      </p>
      <p align="justify">
        Goal of this project was to support development of local, democratic, civic administration in BiH based on principles of participation, non-discrimination and responsibilities of local administration. Project activities include 75 non-government organizations and non-formal groups via forums, public campaigns and other activities.
      </p>
      <br />
      <br />
      <span class="sub-header">Final reports:</span>
      <br />
      <br />
      <p>
        <a class="button-link" href="<%= current_url %>/assets/docs/Finalni_izvjestaj_za_Opcinu_Stari_grad_Sarajevo.pdf" target="_blank">Report: Public administration opinion in county Stari Grad Sarajevo</a>
      </p>
      <p>
        <a class="button-link" href="<%= current_url %>/assets/docs/Finalni_izvjestaj_za_Opcinu_Centar.pdf" target="_blank">Report: Public administration opinion in county Centar</a>
      </p>
      <p>
        <a class="button-link" href="<%= current_url %>/assets/docs/Finalni_izvjestaj_za_Novo_Sarajevo.pdf" target="_blank">Report: Public administration opinion in county Novo Sarajevo</a>
      </p>
      <p>
        <a class="button-link" href="<%= current_url %>/assets/docs/Finalni_izvjestaj_za_Opcinu_Novi_grad.pdf" target="_blank">Report: Public administration opinion in county Novi Grad</a>
      </p>
      <p>
        <a class="button-link" href="<%= current_url %>/assets/docs/Finalni_izvjestaj_za_Ilidzu.pdf" target="_blank">Report: Public administration opinion in county Ilidža</a>
      </p>
      <p>
        <a class="button-link" href="<%= current_url %>/assets/docs/Finalni_izvjestaj_za_Vogoscu.pdf" target="_blank">Report: Public administration opinion in county Vogo&scaron;ća</a>
      </p>
      <br />
      <br />
      <span class="sub-header">Summary reports:</span>
      <br />
      <br />

      <p>
        <a class="button-link" href="<%= current_url %>/assets/docs/Stari_Grad_sumarno.pdf" target="_blank">Summary report for county Stari Grad Sarajevo</a>
      </p>
      <p>
        <a class="button-link" href="<%= current_url %>/assets/docs/Centar_sumarno.pdf" target="_blank">Summary report for county Općinu Centar</a>
      </p>
      <p>
        <a class="button-link" href="<%= current_url %>/assets/docs/Novo_Sarajevo_sumarno.pdf" target="_blank">Summary report for county Općinu Novo Sarajevo</a>
      </p>
      <p>
        <a class="button-link" href="<%= current_url %>/assets/docs/Novi_Grad_sumarno.pdf" target="_blank">Summary report for countyOpćinu Novi Grad</a>
      </p>
      <p>
        <a class="button-link" href="<%= current_url %>/assets/docs/Ilidza_sumarno.pdf" target="_blank">Summary report for county Ilidžu</a>
      </p>
      <p>
        <a class="button-link" href="<%= current_url %>/assets/docs/Vogosca_sumarno_1.pdf" target="_blank">Summary report for county Vogo&scaron;ću</a>
      </p>
    </div>
  </div>
  <div id="clear"></div>
</div>