<!DOCTYPE html>
<html>
<head>
  <title>ULICA.BA by Sredi Svoj Grad</title>
  <meta name="description" content="ULICA.BA je web platforma kreirana za građane Bosne i Hercegovine kako bi probleme sa kojima se svakodnevno susreću u svojim lokalnim zajednicama mogli prijavljivati nadležnim vlastima." /> 
  <meta name="keywords" content="sredi svoj grad, bosna, parkiranje, fasade, okolis, rasvjeta, putevi, ekologija, ULICA.BA, ssg, prljave ulice, neuređena igrališta za djecu i parkovi, ilegalna odlagališta otpada, rupe na lokanim putevima, nepropisno parkirani automobili, nepropisno plakatiranje javnih prostora, razbijena ulična rasvjeta" />
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="assets/leaflet.ie.css" />
  <![endif]-->

  <script src="https://maps.google.com/maps/api/js?v=3&sensor=false"></script>
  
  <%= javascript_include_tag "application" %>
</head>
<body alink="#000" vlink="#000" link="#000">
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      // init the FB JS SDK
      FB.init({
        appId      : <%= Config::Configuration.get(:fb, :application_id) %>,                        // App ID from the app dashboard
        status     : false,                                 // Check Facebook Login status
        xfbml      : false                                  // Look for social plugins on the page
      });

      // Additional initialization code such as adding Event Listeners goes here
    };

    // Load the SDK asynchronously
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

  <div id="loading">
      <div id="loadingcontent">
          <p id="loadingspinner">
              <%= t('layouts.application.loading')%>...
          </p>
      </div>
  </div>

  <div id="form-error-div" class="error-div" onclick="hideThisDiv(this);">
    <%= t('shared.menu.error') %>
    <ul>
    </ul>
  </div>
  <% if flash[:notice] %>
    <div id="flash-info-div" class="info-div dummy-hide-div" onclick="hideThisDiv(this);">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div id="form-error-div" class="error-flash-div dummy-hide-div" onclick="hideThisDiv(this);">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <% if flash[:notice] || flash[:alert] %>
  <script>
    $(function() {
      // setTimeout() function will be fired after page is loaded
      // it will wait for 5 sec. and then will fire
      // $("#successMessage").hide() function
      setTimeout(function() {
          $(".dummy-hide-div").hide('fade', {}, 500)
      }, 3000);
    });
  </script>
  <% end %>
	<div id="main-menu">
		<%= render  :partial => 'shared/menu' %>
	</div>

	<div id="main">
		<%= yield %>
    <!-- MAIN -->
	</div>
	
	<div id="footer">
		<%= render  :partial => 'shared/footer' %>
	</div>
	
	<script>
		I18n.locale = "<%= I18n.locale %>";

    function hideThisDiv(e) {
      $(e).hide();
    }
	</script>
	<%= yield :javascript %>
</body>
</html>
