<!DOCTYPE html>
<html>
<head>
  <title>Sredi svoj grad</title>
  <meta name="description" content="Social community koji gradjanima zeli da omoguci zivot u odredjenom gradu." /> 
  <meta name="keywords" content="sredi svoj grad, bosna, parkiranje, fasade, okolis, rasvjeta, putevi, ekologija" />
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="assets/leaflet.ie.css" />
  <![endif]-->
  <%= javascript_include_tag "application" %>
</head>
<body alink="#000" vlink="#000" link="#000">
	<div id="main-menu">
		<%= render  :partial => 'shared/menu' %>
	</div>

	<div id="messages">
		<%= render  :partial => 'shared/messages' %>
	</div>
	
	<div id="main">
		<%= yield %>
    <!-- MAIN -->
	</div>
	
	<div id="footer">
		<%= render  :partial => 'shared/footer' %>
	</div>
	
	<script>
		I18n.locale = "<%= I18n.locale %>";
	</script>
	<%= yield :javascript %>
</body>
</html>
