<!DOCTYPE html>
<html>
<head>
  <title>Sredi svoj grad</title>
  <meta name="description" content="Social community koji gradjanima zeli da omoguci zivot u odredjenom gradu." /> 
  <meta name="keywords" content="sredi svoj grad, bosna, parkiranje, fasade, okolis, rasvjeta, putevi, ekologija" />
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="assets/leaflet.ie.css" />
  <![endif]-->
  <%= javascript_include_tag "application" %>
</head>
<body alink="#000" vlink="#000" link="#000">
	<div id="main-menu">
		<%= render  :partial => 'shared/menu' %>
	</div>

	<div id="messages">
		<%= render  :partial => 'shared/messages' %>
	</div>
	
	<div id="main">
		<%= yield %>
	</div>
	
	<div id="footer">
		<%= render  :partial => 'shared/footer' %>
	</div>
	
	<script>

	$(function () {
		// VALIDATE

		$.validator.addMethod(
			"images_validator", 
			function(value) {
				return $('.upload-preview').length > 0;
			}, 
			'Image is required!'
		);

		// convert all <select> elements	to selectbox
		$('select').selectbox();
	});


	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-30569816-1']);
	_gaq.push(['_trackPageview']);
	(function() {
	  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	
	function goto_url(url){ window.location.href = url; }
	</script>
</body>
</html>
