<!DOCTYPE html>
<html>
<head>
  <title>Sredi svoj grad</title>
  <meta name="description" content="Social community koji gradjanima zeli da omoguci zivot u odredjenom gradu." /> 
  <meta name="keywords" content="sredi svoj grad, bosna, parkiranje, fasade, okolis, rasvjeta, putevi, ekologija" />
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="assets/leaflet.ie.css" />
  <![endif]-->
  <%= javascript_include_tag "application" %>
</head>
<body alink="#000" vlink="#000" link="#000">
  <div id="form-error-div" class="error-div" onclick="hideThisDiv(this);">
    <%= t('shared.menu.error') %>
    <ul>
    </ul>
  </div>
  <% if flash[:info] %>
    <div id="flash-info-div" class="info-div" onclick="hideThisDiv(this);">
      <%= flash[:info] %>
    </div>
  <% end %>
  <% if flash[:error] %>
    <div id="form-error-div" class="error-flash-div" onclick="hideThisDiv(this);">
      <%= flash[:error] %>
    </div>
  <% end %>
	<div id="main-menu">
		<%= render  :partial => 'shared/menu' %>
	</div>

	<div id="main">
		<%= yield %>
    <!-- MAIN -->
	</div>
	
	<div id="footer">
		<%= render  :partial => 'shared/footer' %>
	</div>
	
	<script>
		I18n.locale = "<%= I18n.locale %>";

    function hideThisDiv(e) {
      $(e).hide();
    }
	</script>
	<%= yield :javascript %>
</body>
</html>
