<!DOCTYPE html>
<html>
<head>
  <title>SSG :: Admin</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "ssg_admin", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>

<style type="text/css">
  .row-m20 {
    margin-top: 20px;
  }

  .logo-position {
    margin-left: 40px;
  }
  .userinfo-pos {
    margin-right: 40px;
    margin-top: 20px;
  }
</style>
<body class="admin">
  <div id="page_container" class="container-fluid admin">
    <% if @user && @user.ssg_admin? %>
      <div class="row-fluid row-m20">
        <div class="span5">
          <a href='<%= ssg_admin_path %>'>
            <%= image_tag 'logo-ulica.png', :class => 'logo-header logo-position' %>
          </a>
        </div>        
        <div class="span5 userinfo-header pull-right userinfo-pos">
          <span class="pull-right"> Dobrodošli, <b><%= @user.display_name %></b> </span><br />
          <a class="pull-right" href="<%= logout_user_path(@user.id) %>">Odjava</a>
        </div>
      </div>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <ul class="nav" id="admin_tab_select">                   
              <li><a data-toggle="tab" href="<%= ssg_admin_path() %>">Dashboard</a></li>
              <li><a data-toggle="tab" href="<%= ssg_admin_cities_path() %>">Gradovi</a></li>
              <li><a data-toggle="tab" href="<%= ssg_admin_categories_path() %>">Kategorije</a></li>
              <li><a data-toggle="tab" href="#settings">Korisnici</a></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
    <br />
    <br />
    <!-- CONTENT -->
    <div class="row-fluid">
      <%= yield %>
    </div>
  </div>
  <%= javascript_include_tag "ssg_admin" %>
  <%= yield :javascript %>
  <script>        
    $(document).ready(function(){
      $("#admin_tab_select a").click(function(e) {
        e.preventDefault();
        window.location = this.href;
      });
    });
  </script>
</body>
</html>
